Repository open-edge-platform/infra-managers, changes with the labels that .github/labeler.yml gives for each.
All labels: CI ðŸ¤–, root, host, maintenance, networking, os-resource, telemetry, attestationstatus

.github/labeler.yml:

# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

CI ðŸ¤–:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"

host:
  - changed-files:
    - any-glob-to-any-file: "host/**"

maintenance:
  - changed-files:
    - any-glob-to-any-file: "maintenance/**"

networking:
  - changed-files:
    - any-glob-to-any-file: "networking/**"

os-resource:
  - changed-files:
    - any-glob-to-any-file: "os-resource/**"

telemetry:
  - changed-files:
    - any-glob-to-any-file: "telemetry/**"

attestationstatus:
  - changed-files:
    - any-glob-to-any-file: "attestationstatus/**"

Fix telemetry tests
  telemetry/internal/invclient/telemetrycache_test.go
Labels: telemetry

Update go.mod
  maintenance/go.mod
Labels: maintenance

Update go.mod
  host/go.mod
Labels: host

Fix lint
  telemetry/internal/invclient/telemetrycache_test.go
Labels: telemetry

Fix race condition in telemetry unit test
  telemetry/internal/invclient/telemetrycache_test.go
Labels: telemetry

Upgrade go1.25.7 to go1.26.1
  attestationstatus/Dockerfile
  attestationstatus/go.mod
  common.mk
  host/Dockerfile
  host/go.mod
  maintenance/Dockerfile
  maintenance/go.mod
  networking/Dockerfile
  networking/go.mod
  os-resource/Dockerfile
  os-resource/go.mod
  telemetry/Dockerfile
  telemetry/go.mod
  version.mk
Labels: root, host, maintenance, networking, os-resource, telemetry, attestationstatus

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update pre-merge.yml update orch-ci version (#557)
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update pre-merge.yml remove orch-ci reference
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update pre-merge.yml remove orch-ci reference (#558)
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update version.mk with go lint version
  version.mk
Labels: root

Fix lint error
  maintenance/internal/testutils/testing_utils.go
  maintenance/pkg/invclient/invclient_test.go
  maintenance/pkg/maintmgr/grpc_server_test.go
  maintenance/pkg/maintmgr/southbound_handler_test.go
  maintenance/pkg/utils/utils_test.go
  networking/internal/clients/invclient_test.go
  networking/internal/handlers/northbound_test.go
  networking/internal/reconcilers/ip_reconciler_test.go
  networking/internal/testutils/testing.go
  networking/internal/testutils/testing_utils.go
  os-resource/Makefile
  os-resource/internal/common/config_test.go
  os-resource/internal/controller/controller_test.go
  os-resource/internal/controller/reconcilers/tenant_test.go
  os-resource/internal/fsclient/fsclient_test.go
  os-resource/internal/testutils/artifactservice_mock.go
  os-resource/internal/testutils/testing_utils.go
  telemetry/internal/handlers/southbound/southbound_test.go
  telemetry/internal/invclient/invclient_test.go
  telemetry/internal/server/server_test.go
  telemetry/internal/telemetrymgrsvc/telemetrymgr_test.go
  telemetry/internal/testutils/testing_utils.go
Labels: maintenance, networking, os-resource, telemetry

Upgrade go1.25.7 to go1.26.1 (#549)
  attestationstatus/Dockerfile
  attestationstatus/go.mod
  common.mk
  host/Dockerfile
  host/go.mod
  maintenance/Dockerfile
  maintenance/go.mod
  maintenance/internal/testutils/testing_utils.go
  maintenance/pkg/invclient/invclient_test.go
  maintenance/pkg/maintmgr/grpc_server_test.go
  maintenance/pkg/maintmgr/southbound_handler_test.go
  maintenance/pkg/utils/utils_test.go
  networking/Dockerfile
  networking/go.mod
  networking/internal/clients/invclient_test.go
  networking/internal/handlers/northbound_test.go
  networking/internal/reconcilers/ip_reconciler_test.go
  networking/internal/testutils/testing.go
  networking/internal/testutils/testing_utils.go
  os-resource/Dockerfile
  os-resource/Makefile
  os-resource/go.mod
  os-resource/internal/common/config_test.go
  os-resource/internal/controller/controller_test.go
  os-resource/internal/controller/reconcilers/tenant_test.go
  os-resource/internal/fsclient/fsclient_test.go
  os-resource/internal/testutils/artifactservice_mock.go
  os-resource/internal/testutils/testing_utils.go
  telemetry/Dockerfile
  telemetry/go.mod
  telemetry/internal/handlers/southbound/southbound_test.go
  telemetry/internal/invclient/invclient_test.go
  telemetry/internal/server/server_test.go
  telemetry/internal/telemetrymgrsvc/telemetrymgr_test.go
  telemetry/internal/testutils/testing_utils.go
  version.mk
Labels: root, host, maintenance, networking, os-resource, telemetry, attestationstatus

Fix dependabot config file
  .github/dependabot.yml
Labels: CI ðŸ¤–

Fix dependabot config file (#584)
  .github/dependabot.yml
Labels: CI ðŸ¤–

Small fix
  .github/workflows/post-merge-scorecard.yml
Labels: CI ðŸ¤–

Small fix
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-telemetry.yml
Labels: CI ðŸ¤–

Pinned golang and static-debian images to sha
  attestationstatus/Dockerfile
  host/Dockerfile
  maintenance/Dockerfile
  networking/Dockerfile
  os-resource/Dockerfile
  telemetry/Dockerfile
Labels: host, maintenance, networking, os-resource, telemetry, attestationstatus

Pin golang and static-debian images to sha (#611)
  attestationstatus/Dockerfile
  host/Dockerfile
  maintenance/Dockerfile
  networking/Dockerfile
  os-resource/Dockerfile
  telemetry/Dockerfile
Labels: host, maintenance, networking, os-resource, telemetry, attestationstatus

Update the util tests
  host/pkg/utils/utils.go
  host/pkg/utils/utils_test.go
Labels: host

rebase
  common.mk
  host/docs/api/hostmgr.md
  host/pkg/api/hostmgr/proto/hostmgr_southbound.pb.go
  host/pkg/api/hostmgr/proto/hostmgr_southbound.pb.validate.go
  host/pkg/api/hostmgr/proto/hostmgr_southbound.proto
  host/pkg/utils/utils.go
  host/pkg/utils/utils_test.go
Labels: root, host

Revert change in common.mk
  common.mk
Labels: root

Make generate
  host/pkg/api/hostmgr/proto/hostmgr_southbound.pb.go
Labels: host

Append kubeconfig to existing metadata
  host/pkg/utils/utils.go
Labels: host

Revert changes to asm args
  common.mk
Labels: root

Remove metadata storage, and replace with vault
  host/go.mod
  host/go.sum
  host/pkg/hostmgr/grpc_server.go
  host/pkg/hostmgr/hostmgr.go
  host/pkg/hostmgr/southbound_handler.go
  host/pkg/utils/utils.go
  host/pkg/utils/utils_test.go
Labels: host

rebase
  common.mk
  host/docs/api/hostmgr.md
  host/pkg/api/hostmgr/proto/hostmgr_southbound.pb.go
  host/pkg/api/hostmgr/proto/hostmgr_southbound.pb.validate.go
  host/pkg/api/hostmgr/proto/hostmgr_southbound.proto
  host/pkg/utils/utils.go
  host/pkg/utils/utils_test.go
Labels: root, host

Update the util tests
  host/pkg/utils/utils.go
  host/pkg/utils/utils_test.go
Labels: host

Revert to metadata
  host/pkg/hostmgr/grpc_server.go
  host/pkg/hostmgr/hostmgr.go
  host/pkg/hostmgr/southbound_handler.go
  host/pkg/utils/utils.go
  host/pkg/utils/utils_test.go
Labels: host

Remove metadata storage, and replace with vault
  host/go.mod
  host/go.sum
  host/pkg/hostmgr/grpc_server.go
  host/pkg/hostmgr/hostmgr.go
  host/pkg/hostmgr/southbound_handler.go
  host/pkg/utils/utils.go
  host/pkg/utils/utils_test.go
Labels: host

Revert changes to asm args
  common.mk
Labels: root

Fix linter
  host/pkg/utils/utils.go
Labels: host

Revert change in common.mk
  common.mk
Labels: root

Make generate
  host/pkg/api/hostmgr/proto/hostmgr_southbound.pb.go
Labels: host

Append kubeconfig to existing metadata
  host/pkg/utils/utils.go
Labels: host

Revert changes
  host/go.mod
  host/go.sum
  host/pkg/hostmgr/grpc_server.go
  host/pkg/hostmgr/southbound_handler.go
  host/pkg/utils/utils.go
  host/pkg/utils/utils_test.go
Labels: host

Revert utils change
  host/pkg/utils/utils.go
Labels: host

Fix linter
  host/pkg/utils/utils.go
Labels: host

Regenerate validate message
  host/pkg/api/hostmgr/proto/hostmgr_southbound.pb.validate.go
Labels: host

Update version
  host/VERSION
Labels: host
