Repository open-edge-platform/infra-managers, changes with the labels that .github/labeler.yml gives for each.
All labels: CI ðŸ¤–, root, host, maintenance, networking, os-resource, telemetry, attestationstatus

Update schedule.md
  maintenance/docs/schedule.md
Labels: maintenance

Update schedule.md (#299)
  maintenance/docs/schedule.md
Labels: maintenance

Update VERSION files to next dev version for maintenance
  maintenance/VERSION
Labels: maintenance

Version bump to -dev for maintenance (#300)
  maintenance/VERSION
Labels: maintenance

Enhance reconciliation logic to differentiate between periodic and event-driven processes, deferring heavy CVE operations to periodic reconciliation.
  os-resource/internal/controller/controller.go
  os-resource/internal/controller/reconcilers/tenant.go
Labels: os-resource

fixed lint errors
  os-resource/internal/controller/reconcilers/tenant.go
Labels: os-resource

Update VERSION
  os-resource/VERSION
Labels: os-resource

Osrmg CVE download workaround (#301)
  os-resource/VERSION
  os-resource/internal/controller/controller.go
  os-resource/internal/controller/reconcilers/tenant.go
Labels: os-resource

Update VERSION files to next dev version for os-resource
  os-resource/VERSION
Labels: os-resource

Version bump to -dev for os-resource (#302)
  os-resource/VERSION
Labels: os-resource

Update VERSION
  os-resource/VERSION
Labels: os-resource

fixed lint issues
  os-resource/cmd/osrm.go
  os-resource/internal/common/config.go
Labels: os-resource

fixed tests
  os-resource/internal/testing/artifactservice_mock.go
Labels: os-resource

fixed list issues - 2
  os-resource/internal/testing/artifactservice_mock.go
Labels: os-resource

Add inventory ticker period configuration and update version to 0.20.5
  os-resource/Dockerfile
  os-resource/VERSION
  os-resource/cmd/osrm.go
  os-resource/internal/common/config.go
  os-resource/internal/controller/controller.go
  os-resource/internal/controller/reconcilers/tenant.go
  os-resource/internal/invclient/invclient.go
  os-resource/internal/testing/artifactservice_mock.go
Labels: os-resource

Add inventory ticker period configuration and update version to 0.20.5 (#307)
  os-resource/Dockerfile
  os-resource/VERSION
  os-resource/cmd/osrm.go
  os-resource/internal/common/config.go
  os-resource/internal/controller/controller.go
  os-resource/internal/controller/reconcilers/tenant.go
  os-resource/internal/invclient/invclient.go
  os-resource/internal/testing/artifactservice_mock.go
Labels: os-resource

Update VERSION files to next dev version for os-resource
  os-resource/VERSION
Labels: os-resource

Version bump to -dev for os-resource (#308)
  os-resource/VERSION
Labels: os-resource

AttestationStatus RM release 0.8.1
  attestationstatus/VERSION
Labels: attestationstatus

AttestationStatus RM release 0.8.1 (#312)
  attestationstatus/VERSION
Labels: attestationstatus

Update VERSION files to next dev version for attestationstatus
  attestationstatus/VERSION
Labels: attestationstatus

Version bump to -dev for attestationstatus (#313)
  attestationstatus/VERSION
Labels: attestationstatus

Fix for ITEP-82649
  maintenance/pkg/invclient/invclient.go
  maintenance/pkg/maintmgr/southbound_handler.go
Labels: maintenance

Updated VERSION
  maintenance/VERSION
Labels: maintenance

Fix for UT Errors
  maintenance/pkg/maintmgr/grpc_server_test.go
Labels: maintenance

Fixed lint errors
  maintenance/pkg/maintmgr/grpc_server_test.go
Labels: maintenance

Fixed UT errors -2
  maintenance/pkg/maintmgr/grpc_server_test.go
Labels: maintenance

Fixed UT errors -3
  maintenance/pkg/maintmgr/grpc_server_test.go
Labels: maintenance

Added CVE-2025-61729 to ignore in trivy image scan
  maintenance/.trivyignore
Labels: maintenance

[ITEP-82649-Fix] Fix done for only creating OSUpdateRun for Downloading-Artifatcs and Started States (#316)
  maintenance/.trivyignore
  maintenance/VERSION
  maintenance/pkg/invclient/invclient.go
  maintenance/pkg/maintmgr/grpc_server_test.go
  maintenance/pkg/maintmgr/southbound_handler.go
Labels: maintenance

Update VERSION files to next dev version for maintenance
  maintenance/VERSION
Labels: maintenance

Version bump to -dev for maintenance (#317)
  maintenance/VERSION
Labels: maintenance

Make buf-gen output files checkin
  host/pkg/api/hostmgr/proto/hostmgr_southbound.pb.go
  host/pkg/api/hostmgr/proto/hostmgr_southbound.pb.validate.go
  host/pkg/api/hostmgr/proto/hostmgr_southbound.proto
  host/pkg/api/hostmgr/proto/hostmgr_southbound_grpc.pb.go
Labels: host

Bump minor versions post 2025.2 release
  attestationstatus/VERSION
  host/VERSION
  maintenance/VERSION
  networking/VERSION
  os-resource/VERSION
  telemetry/VERSION
Labels: host, maintenance, networking, os-resource, telemetry, attestationstatus

Delay golang bump to 1.24.11
  attestationstatus/.trivyignore
  attestationstatus/trivy.yaml
  host/.trivyignore
  networking/.trivyignore
  os-resource/.trivyignore
  telemetry/.trivyignore
Labels: host, networking, os-resource, telemetry, attestationstatus

Bump minor versions post 2025.2 release (#320)
  attestationstatus/.trivyignore
  attestationstatus/VERSION
  attestationstatus/trivy.yaml
  host/.trivyignore
  host/VERSION
  maintenance/VERSION
  networking/.trivyignore
  networking/VERSION
  os-resource/.trivyignore
  os-resource/VERSION
  telemetry/.trivyignore
  telemetry/VERSION
Labels: host, maintenance, networking, os-resource, telemetry, attestationstatus

Pin orch-ci version in post-merge
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-telemetry.yml
Labels: CI ðŸ¤–

Pin orch-ci version in post-merge (#321)
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-telemetry.yml
Labels: CI ðŸ¤–

Retrigger post-merges
  networking/.trivyignore
  os-resource/.trivyignore
Labels: networking, os-resource

Retrigger post-merges (#322)
  networking/.trivyignore
  os-resource/.trivyignore
Labels: networking, os-resource

.github/labeler.yml:

# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

CI ðŸ¤–:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"

host:
  - changed-files:
    - any-glob-to-any-file: "host/**"

maintenance:
  - changed-files:
    - any-glob-to-any-file: "maintenance/**"

networking:
  - changed-files:
    - any-glob-to-any-file: "networking/**"

os-resource:
  - changed-files:
    - any-glob-to-any-file: "os-resource/**"

telemetry:
  - changed-files:
    - any-glob-to-any-file: "telemetry/**"

attestationstatus:
  - changed-files:
    - any-glob-to-any-file: "attestationstatus/**"
