Repository open-edge-platform/infra-managers, changes with the labels that .github/labeler.yml gives for each.
All labels: CI ðŸ¤–, root, host, maintenance, networking, os-resource, telemetry, attestationstatus

Version bump to -dev for infra-managers components (#126)
  attestationstatus/VERSION
  host/VERSION
  maintenance/VERSION
  networking/VERSION
  os-resource/VERSION
  telemetry/VERSION
Labels: host, maintenance, networking, os-resource, telemetry, attestationstatus

reverting back infra-manager repo chnages for day2 upgrade feature
  maintenance/VERSION
  maintenance/pkg/invclient/invclient.go
  maintenance/pkg/invclient/invclient_test.go
  maintenance/pkg/maintmgr/grpc_server.go
  maintenance/pkg/maintmgr/grpc_server_test.go
  maintenance/pkg/maintmgr/southbound_handler.go
  maintenance/pkg/utils/utils.go
  maintenance/pkg/utils/utils_test.go
Labels: maintenance

Create OSUpdateRun on update status DOWNLOADING instead of STARTED
  maintenance/pkg/maintmgr/southbound_handler.go
  maintenance/pkg/utils/utils.go
Labels: maintenance

Changes for CI Failure because of incorrect version and fix for existing CVEs not getting updated
  maintenance/VERSION
  os-resource/internal/controller/reconcilers/tenant.go
  os-resource/internal/invclient/invclient.go
  os-resource/internal/invclient/invclient_test.go
Labels: maintenance, os-resource

Updating minor version of os resource mgr
  os-resource/VERSION
Labels: os-resource

reverting back infra-manager repo changes for day2 upgrade feature (#133)
  maintenance/VERSION
  maintenance/pkg/invclient/invclient.go
  maintenance/pkg/invclient/invclient_test.go
  maintenance/pkg/maintmgr/grpc_server.go
  maintenance/pkg/maintmgr/grpc_server_test.go
  maintenance/pkg/maintmgr/southbound_handler.go
  maintenance/pkg/utils/utils.go
  maintenance/pkg/utils/utils_test.go
  os-resource/VERSION
  os-resource/internal/controller/reconcilers/tenant.go
  os-resource/internal/invclient/invclient.go
  os-resource/internal/invclient/invclient_test.go
Labels: maintenance, os-resource

Update VERSION files to next dev version
  maintenance/VERSION
  os-resource/VERSION
Labels: maintenance, os-resource

Update VERSION files to next dev version
  maintenance/VERSION
  os-resource/VERSION
Labels: maintenance, os-resource

adding -dev version for maintenance manager and os resource manager
  maintenance/VERSION
  os-resource/VERSION
Labels: maintenance, os-resource

Version bump to -dev for maintenance (#139)
  maintenance/VERSION
  os-resource/VERSION
Labels: maintenance, os-resource

Fixed OsUpdateRuns handling and tests
  maintenance/go.mod
  maintenance/go.sum
  maintenance/pkg/invclient/invclient.go
  maintenance/pkg/invclient/invclient_test.go
  maintenance/pkg/maintmgr/grpc_server.go
  maintenance/pkg/maintmgr/grpc_server_test.go
  maintenance/pkg/maintmgr/southbound_handler.go
  maintenance/pkg/utils/utils.go
  maintenance/pkg/utils/utils_test.go
Labels: maintenance

Fixes
  maintenance/pkg/invclient/invclient.go
  maintenance/pkg/maintmgr/grpc_server_test.go
Labels: maintenance

Fixes
  maintenance/pkg/invclient/invclient_test.go
  maintenance/pkg/maintmgr/grpc_server.go
  maintenance/pkg/maintmgr/grpc_server_test.go
  maintenance/pkg/maintmgr/southbound_handler.go
Labels: maintenance

Set instance Os instead of CurrentOs
  maintenance/go.mod
  maintenance/go.sum
  maintenance/pkg/invclient/invclient.go
  maintenance/pkg/maintmgr/southbound_handler.go
Labels: maintenance

Reintroduce OSUpdatePolicy and OSUpdateRun resources into day2 operations
  maintenance/go.mod
  maintenance/go.sum
  maintenance/pkg/invclient/invclient.go
  maintenance/pkg/invclient/invclient_test.go
  maintenance/pkg/maintmgr/grpc_server.go
  maintenance/pkg/maintmgr/grpc_server_test.go
  maintenance/pkg/maintmgr/southbound_handler.go
  maintenance/pkg/utils/utils.go
  maintenance/pkg/utils/utils_test.go
Labels: maintenance

Ignore length check for PlatformUpdateStatus method
  maintenance/pkg/maintmgr/grpc_server.go
Labels: maintenance

Bump go version to 1.24.6
  attestationstatus/Dockerfile
  attestationstatus/go.mod
  host/Dockerfile
  host/go.mod
  maintenance/Dockerfile
  maintenance/go.mod
  networking/Dockerfile
  networking/go.mod
  os-resource/Dockerfile
  os-resource/go.mod
  telemetry/Dockerfile
  telemetry/go.mod
  version.mk
Labels: root, host, maintenance, networking, os-resource, telemetry, attestationstatus

Bump go version to 1.24.6 (#160)
  attestationstatus/Dockerfile
  attestationstatus/go.mod
  host/Dockerfile
  host/go.mod
  maintenance/Dockerfile
  maintenance/go.mod
  networking/Dockerfile
  networking/go.mod
  os-resource/Dockerfile
  os-resource/go.mod
  telemetry/Dockerfile
  telemetry/go.mod
  version.mk
Labels: root, host, maintenance, networking, os-resource, telemetry, attestationstatus

Tidy go.sum
  maintenance/go.sum
Labels: maintenance

Create OSUpdateRun on update status DOWNLOADING instead of STARTED (#136)
  maintenance/go.mod
  maintenance/go.sum
  maintenance/pkg/invclient/invclient.go
  maintenance/pkg/invclient/invclient_test.go
  maintenance/pkg/maintmgr/grpc_server_test.go
  maintenance/pkg/maintmgr/southbound_handler.go
  maintenance/pkg/utils/utils.go
  maintenance/pkg/utils/utils_test.go
Labels: maintenance

Codeowners update
  .github/CODEOWNERS
Labels: CI ðŸ¤–

Codeowners update (#161)
  .github/CODEOWNERS
Labels: CI ðŸ¤–

Fix lint errors
  maintenance/.golangci.yml
  maintenance/pkg/maintmgr/grpc_server_test.go
  maintenance/pkg/maintmgr/southbound_handler.go
  maintenance/pkg/utils/utils.go
  maintenance/pkg/utils/utils_test.go
Labels: maintenance

Fix race condition in unit tests
  maintenance/pkg/invclient/invclient.go
  maintenance/pkg/maintmgr/grpc_server_test.go
Labels: maintenance

Move CVE update logic
  maintenance/pkg/invclient/invclient.go
  maintenance/pkg/maintmgr/grpc_server.go
  maintenance/pkg/maintmgr/southbound_handler.go
Labels: maintenance

Optimized the code
  os-resource/internal/fsclient/fsclient.go
Labels: os-resource

Removed semver version processing code added in 1st commit as this is not needed
  os-resource/internal/fsclient/fsclient.go
Labels: os-resource

Fix UpdateInstance() and unit tests
  maintenance/pkg/invclient/invclient_test.go
  maintenance/pkg/maintmgr/grpc_server.go
  maintenance/pkg/maintmgr/grpc_server_test.go
  maintenance/pkg/maintmgr/southbound_handler.go
  maintenance/pkg/maintmgr/southbound_handler_test.go
Labels: maintenance

Update inventory version
  maintenance/go.mod
Labels: maintenance

Replace currentOS with os
  maintenance/pkg/maintmgr/southbound_handler.go
  maintenance/pkg/maintmgr/southbound_handler_test.go
Labels: maintenance

Update utils.go - remove unused const
  maintenance/pkg/utils/utils.go
Labels: maintenance

Fix unit test
  maintenance/pkg/maintmgr/grpc_server_test.go
Labels: maintenance

Update invclient.go
  maintenance/pkg/invclient/invclient.go
Labels: maintenance

Update invclient.go
  maintenance/pkg/invclient/invclient.go
Labels: maintenance

Fix unit test
  maintenance/pkg/maintmgr/grpc_server_test.go
Labels: maintenance

Fix unit test
  maintenance/pkg/maintmgr/grpc_server_test.go
Labels: maintenance

Fix unit test
  maintenance/pkg/maintmgr/grpc_server_test.go
Labels: maintenance

Fix unit test
  maintenance/pkg/invclient/invclient.go
Labels: maintenance

Fix unit test
  maintenance/pkg/invclient/invclient.go
Labels: maintenance

Fix unit test
  maintenance/pkg/invclient/invclient.go
Labels: maintenance

.github/labeler.yml:

# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

CI ðŸ¤–:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"

host:
  - changed-files:
    - any-glob-to-any-file: "host/**"

maintenance:
  - changed-files:
    - any-glob-to-any-file: "maintenance/**"

networking:
  - changed-files:
    - any-glob-to-any-file: "networking/**"

os-resource:
  - changed-files:
    - any-glob-to-any-file: "os-resource/**"

telemetry:
  - changed-files:
    - any-glob-to-any-file: "telemetry/**"

attestationstatus:
  - changed-files:
    - any-glob-to-any-file: "attestationstatus/**"
