Repository open-edge-platform/infra-managers, changes with the labels that .github/labeler.yml gives for each.
All labels: CI ðŸ¤–, root, host, maintenance, networking, os-resource, telemetry, attestationstatus

Use OSUpdatePolicy to populate update response for PUA (#98)
  maintenance/.golangci.yml
  maintenance/go.mod
  maintenance/go.sum
  maintenance/pkg/invclient/invclient.go
  maintenance/pkg/invclient/invclient_test.go
  maintenance/pkg/maintmgr/grpc_server.go
  maintenance/pkg/maintmgr/grpc_server_test.go
  maintenance/pkg/maintmgr/southbound_handler.go
  maintenance/pkg/utils/utils.go
  maintenance/pkg/utils/utils_test.go
Labels: maintenance

chore: Remove tmatenko from CODEOWNERS
  .github/CODEOWNERS
Labels: CI ðŸ¤–

chore: Remove tmatenko from CODEOWNERS (#111)
  .github/CODEOWNERS
Labels: CI ðŸ¤–

Auto-update version in post-merge
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-telemetry.yml
Labels: CI ðŸ¤–

Use post-merge at v0.1.32
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-telemetry.yml
Labels: CI ðŸ¤–

Auto-update version in post-merge (#112)
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-telemetry.yml
Labels: CI ðŸ¤–

Create and update OSUpdateRun
  maintenance/go.mod
  maintenance/go.sum
  maintenance/pkg/invclient/invclient.go
  maintenance/pkg/maintmgr/grpc_server.go
  maintenance/pkg/maintmgr/southbound_handler.go
  maintenance/pkg/utils/utils.go
Labels: maintenance

fix: Allow for '+' in OS metadata regex
  os-resource/go.mod
  os-resource/go.sum
Labels: os-resource

Update Inventory dep to v2.28.1
  os-resource/go.mod
  os-resource/go.sum
Labels: os-resource

ver
  os-resource/VERSION
Labels: os-resource

Update CODEOWNERS
  .github/CODEOWNERS
Labels: CI ðŸ¤–

added changes for support of popultaing existing_cves and fixed_cves in OS Resource and Instance Resource for immutable OS
  maintenance/pkg/maintmgr/grpc_server.go
  maintenance/pkg/maintmgr/grpc_server_test.go
  os-resource/internal/controller/reconcilers/tenant.go
  os-resource/internal/controller/reconcilers/tenant_test.go
  os-resource/internal/fsclient/fsclient.go
  os-resource/internal/fsclient/fsclient_test.go
  os-resource/internal/invclient/invclient.go
  os-resource/internal/invclient/invclient_test.go
  os-resource/internal/util/util_test.go
Labels: maintenance, os-resource

Update CODEOWNERS
  .github/CODEOWNERS
Labels: CI ðŸ¤–

Update CODEOWNERS
  .github/CODEOWNERS
Labels: CI ðŸ¤–

Fixes and tests
  maintenance/go.mod
  maintenance/go.sum
  maintenance/pkg/invclient/invclient.go
  maintenance/pkg/maintmgr/grpc_server.go
  maintenance/pkg/maintmgr/grpc_server_test.go
  maintenance/pkg/maintmgr/southbound_handler.go
  maintenance/pkg/utils/utils.go
Labels: maintenance

Update CODEOWNERS (#117)
  .github/CODEOWNERS
Labels: CI ðŸ¤–

Fix for the review comments
  os-resource/internal/controller/reconcilers/tenant.go
  os-resource/internal/controller/reconcilers/tenant_test.go
  os-resource/internal/invclient/invclient.go
  os-resource/internal/invclient/invclient_test.go
Labels: os-resource

Updated code as per the review comments
  maintenance/pkg/invclient/invclient.go
  maintenance/pkg/invclient/invclient_test.go
  maintenance/pkg/maintmgr/grpc_server.go
  maintenance/pkg/maintmgr/grpc_server_test.go
  maintenance/pkg/maintmgr/southbound_handler.go
Labels: maintenance

Corrected code to update existing CVEs in case of no OS Resource update needed in platform status update
  maintenance/pkg/maintmgr/southbound_handler.go
Labels: maintenance

Update grpc_server_test.go
  maintenance/pkg/maintmgr/grpc_server_test.go
Labels: maintenance

Update grpc_server.go
  maintenance/pkg/maintmgr/grpc_server.go
Labels: maintenance

Update grpc_server.go
  maintenance/pkg/maintmgr/grpc_server.go
Labels: maintenance

Handle OSUpdateRun creation/update (#99)
  maintenance/go.mod
  maintenance/go.sum
  maintenance/pkg/invclient/invclient.go
  maintenance/pkg/maintmgr/grpc_server.go
  maintenance/pkg/maintmgr/grpc_server_test.go
  maintenance/pkg/maintmgr/southbound_handler.go
  maintenance/pkg/utils/utils.go
Labels: maintenance

Update maintenance/pkg/maintmgr/southbound_handler.go
  maintenance/pkg/maintmgr/southbound_handler.go
Labels: maintenance

Fixes done for review comments and lint errors
  maintenance/pkg/invclient/invclient.go
  maintenance/pkg/invclient/invclient_test.go
  maintenance/pkg/maintmgr/grpc_server.go
  maintenance/pkg/maintmgr/southbound_handler.go
  os-resource/internal/controller/reconcilers/tenant.go
  os-resource/internal/controller/reconcilers/tenant_test.go
  os-resource/internal/fsclient/fsclient.go
  os-resource/internal/fsclient/fsclient_test.go
  os-resource/internal/invclient/invclient.go
  os-resource/internal/invclient/invclient_test.go
Labels: maintenance, os-resource

Fixed CVEs list is not supported, so added code to not return error for fetching Fixed CVEs
  os-resource/internal/controller/reconcilers/tenant.go
Labels: os-resource

Bump component versions and inventory dependency version
  attestationstatus/VERSION
  attestationstatus/go.mod
  attestationstatus/go.sum
  host/VERSION
  host/go.mod
  host/go.sum
  maintenance/VERSION
  maintenance/go.mod
  maintenance/go.sum
  networking/VERSION
  networking/go.mod
  networking/go.sum
  os-resource/VERSION
  os-resource/go.mod
  os-resource/go.sum
  telemetry/VERSION
  telemetry/go.mod
  telemetry/go.sum
Labels: host, maintenance, networking, os-resource, telemetry, attestationstatus

Updated as per review comments
  os-resource/internal/controller/reconcilers/tenant.go
Labels: os-resource

Fix policy check in maintenance manager
  maintenance/pkg/invclient/invclient.go
  maintenance/pkg/maintmgr/grpc_server.go
Labels: maintenance

Update grpc_server.go
  maintenance/pkg/maintmgr/grpc_server.go
Labels: maintenance

Added test case as per the review comment
  maintenance/pkg/maintmgr/southbound_handler_test.go
Labels: maintenance

Changes done for CI Issue
  maintenance/pkg/maintmgr/southbound_handler.go
  maintenance/pkg/maintmgr/southbound_handler_test.go
Labels: maintenance

Added changes for support of popultaing existing_cves and fixed_cves in OS Resource and Instance Resource for immutable OS (#119)
  maintenance/pkg/invclient/invclient.go
  maintenance/pkg/invclient/invclient_test.go
  maintenance/pkg/maintmgr/southbound_handler.go
  maintenance/pkg/maintmgr/southbound_handler_test.go
  os-resource/internal/controller/reconcilers/tenant.go
  os-resource/internal/controller/reconcilers/tenant_test.go
  os-resource/internal/fsclient/fsclient.go
  os-resource/internal/fsclient/fsclient_test.go
  os-resource/internal/invclient/invclient.go
  os-resource/internal/invclient/invclient_test.go
  os-resource/internal/util/util_test.go
Labels: maintenance, os-resource

Fix policy check in maintenance manager (#125)
  maintenance/pkg/invclient/invclient.go
  maintenance/pkg/maintmgr/grpc_server.go
Labels: maintenance

Bump component versions and inventory dependency version (#124)
  attestationstatus/VERSION
  attestationstatus/go.mod
  attestationstatus/go.sum
  host/VERSION
  maintenance/VERSION
  networking/VERSION
  networking/go.mod
  networking/go.sum
  os-resource/VERSION
  os-resource/go.mod
  os-resource/go.sum
  telemetry/VERSION
  telemetry/go.mod
  telemetry/go.sum
Labels: host, maintenance, networking, os-resource, telemetry, attestationstatus

Update VERSION files to next dev version
  attestationstatus/VERSION
  host/VERSION
  maintenance/VERSION
  networking/VERSION
  os-resource/VERSION
  telemetry/VERSION
Labels: host, maintenance, networking, os-resource, telemetry, attestationstatus

Update VERSION files to next dev version
  attestationstatus/VERSION
  host/VERSION
  maintenance/VERSION
  networking/VERSION
  os-resource/VERSION
  telemetry/VERSION
Labels: host, maintenance, networking, os-resource, telemetry, attestationstatus

Update VERSION files to next dev version
  attestationstatus/VERSION
  host/VERSION
  maintenance/VERSION
  networking/VERSION
  os-resource/VERSION
  telemetry/VERSION
Labels: host, maintenance, networking, os-resource, telemetry, attestationstatus

Update VERSION files to next dev version
  attestationstatus/VERSION
  host/VERSION
  maintenance/VERSION
  networking/VERSION
  os-resource/VERSION
  telemetry/VERSION
Labels: host, maintenance, networking, os-resource, telemetry, attestationstatus

Update tenant_test.go
  os-resource/internal/controller/reconcilers/tenant_test.go
Labels: os-resource

.github/labeler.yml:

# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

CI ðŸ¤–:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"

host:
  - changed-files:
    - any-glob-to-any-file: "host/**"

maintenance:
  - changed-files:
    - any-glob-to-any-file: "maintenance/**"

networking:
  - changed-files:
    - any-glob-to-any-file: "networking/**"

os-resource:
  - changed-files:
    - any-glob-to-any-file: "os-resource/**"

telemetry:
  - changed-files:
    - any-glob-to-any-file: "telemetry/**"

attestationstatus:
  - changed-files:
    - any-glob-to-any-file: "attestationstatus/**"
