Repository open-edge-platform/infra-managers, changes with the labels that .github/labeler.yml gives for each.
All labels: CI ðŸ¤–, root, host, maintenance, networking, os-resource, telemetry, attestationstatus

.github/labeler.yml:

# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

CI ðŸ¤–:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"

host:
  - changed-files:
    - any-glob-to-any-file: "host/**"

maintenance:
  - changed-files:
    - any-glob-to-any-file: "maintenance/**"

networking:
  - changed-files:
    - any-glob-to-any-file: "networking/**"

os-resource:
  - changed-files:
    - any-glob-to-any-file: "os-resource/**"

telemetry:
  - changed-files:
    - any-glob-to-any-file: "telemetry/**"

attestationstatus:
  - changed-files:
    - any-glob-to-any-file: "attestationstatus/**"

Add unit test
  host/pkg/hostmgr/grpc_server_test.go
  host/pkg/hostmgr/hostmgr.go
Labels: host

Disable instance manipulation from HM when provisioned disabled (#366)
  host/VERSION
  host/cmd/hostmgr/main.go
  host/pkg/config/config.go
  host/pkg/hostmgr/grpc_server.go
  host/pkg/hostmgr/grpc_server_test.go
  host/pkg/hostmgr/hostmgr.go
Labels: host

Update VERSION files to 1.25.2-dev for host
  host/VERSION
Labels: host

Version bump
  maintenance/VERSION
Labels: maintenance

Version bump to 1.25.1-dev for telemetry (#357)
  telemetry/VERSION
Labels: telemetry

Version bump to 1.21.1-dev for networking (#359)
  networking/VERSION
Labels: networking

Version bump to 0.9.1-dev for attestationstatus (#360)
  attestationstatus/VERSION
Labels: attestationstatus

Version bump to 0.21.1-dev for os-resource (#358)
  os-resource/VERSION
Labels: os-resource

Version bump to 1.25.1-dev for host (#361)
  host/VERSION
Labels: host

Go mod tidy
  host/go.mod
  host/go.sum
  maintenance/go.mod
  maintenance/go.sum
  telemetry/go.mod
Labels: host, maintenance, telemetry

Updated SHA in post-merge workflow which refers to Fix Trivy config upload issue in orch-ci repo
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-scorecard.yml
  .github/workflows/post-merge-telemetry.yml
Labels: CI ðŸ¤–

Updated SHA in post-merge workflow which refers to Fix Trivy config upload issue in orch-ci repo - 2
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
Labels: CI ðŸ¤–

Updated SHA in post-merge workflow which refers to Fix Trivy config upload issue in orch-ci repo (#386)
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-scorecard.yml
  .github/workflows/post-merge-telemetry.yml
Labels: CI ðŸ¤–

Resolved merge conflicts -2
  .github/workflows/post-merge-host.yml
Labels: CI ðŸ¤–

Added workflow_dispatch to post merge workflows
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-telemetry.yml
Labels: CI ðŸ¤–

Added workflow_dispatch to post merge workflows (#387)
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-telemetry.yml
Labels: CI ðŸ¤–

Test image signing
  .github/workflows/post-merge-attestationstatus.yml
Labels: CI ðŸ¤–

Test image signing, again
  .github/workflows/post-merge-attestationstatus.yml
Labels: CI ðŸ¤–

Test image signing, again
  .github/workflows/post-merge-attestationstatus.yml
Labels: CI ðŸ¤–

Test image signing, again
  .github/workflows/post-merge-attestationstatus.yml
Labels: CI ðŸ¤–

Test
  .github/workflows/post-merge-attestationstatus.yml
Labels: CI ðŸ¤–

Test
  .github/workflows/post-merge-attestationstatus.yml
Labels: CI ðŸ¤–

Test
  .github/workflows/post-merge-attestationstatus.yml
Labels: CI ðŸ¤–

Updated post-merge workflow to a SHA which contains fix image signing issue for <none> tags
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-scorecard.yml
  .github/workflows/post-merge-telemetry.yml
Labels: CI ðŸ¤–

Updated post-merge workflow to a SHA which contains fix image signing issue for <none> tags (#393)
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-scorecard.yml
  .github/workflows/post-merge-telemetry.yml
Labels: CI ðŸ¤–

Add DeviceInfo to SystemInfo API for host reporting
  host/VERSION
  host/docs/api/hostmgr.md
  host/go.mod
  host/go.sum
  host/pkg/api/hostmgr/proto/hostmgr_southbound.pb.go
  host/pkg/api/hostmgr/proto/hostmgr_southbound.pb.validate.go
  host/pkg/api/hostmgr/proto/hostmgr_southbound.proto
  host/pkg/hostmgr/grpc_server.go
  host/pkg/hostmgr/grpc_server_device_test.go
  host/pkg/hostmgr/hostmgr_utils_test.go
  host/pkg/hostmgr/southbound_handler.go
  host/pkg/invclient/common.go
  host/pkg/invclient/invclient.go
  host/pkg/invclient/invclient_test.go
  host/pkg/utils/utils.go
Labels: host

Linter fix
  host/pkg/api/hostmgr/proto/hostmgr_southbound.proto
Labels: host

Fix southbound handler for host device updates
  host/pkg/api/hostmgr/proto/hostmgr_southbound.pb.go
  host/pkg/api/hostmgr/proto/hostmgr_southbound.pb.validate.go
  host/pkg/api/hostmgr/proto/hostmgr_southbound.proto
  host/pkg/hostmgr/southbound_handler.go
Labels: host

Bump version
  .github/workflows/post-merge-scorecard.yml
Labels: CI ðŸ¤–

Bump version
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Version bump
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-telemetry.yml
Labels: CI ðŸ¤–

Update Golang version for dependency check
  host/go.mod
  version.mk
Labels: root, host

Version bump
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-scorecard.yml
  .github/workflows/post-merge-telemetry.yml
Labels: CI ðŸ¤–

Version bump
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Updating golang version 1.25.7
  attestationstatus/Dockerfile
  attestationstatus/go.mod
  attestationstatus/go.sum
  host/Dockerfile
  host/go.mod
  host/go.sum
  maintenance/Dockerfile
  maintenance/go.mod
  maintenance/go.sum
  networking/Dockerfile
  networking/go.mod
  networking/go.sum
  os-resource/Dockerfile
  os-resource/go.mod
  os-resource/go.sum
  telemetry/Dockerfile
  telemetry/go.mod
  telemetry/go.sum
  version.mk
Labels: root, host, maintenance, networking, os-resource, telemetry, attestationstatus

Fix for Unit Testing errors in maintenance manager code
  maintenance/pkg/maintmgr/grpc_server_test.go
Labels: maintenance

Remove trailing whitespace from test file
  maintenance/pkg/maintmgr/grpc_server_test.go
Labels: maintenance

Fix for CI issue
  maintenance/pkg/maintmgr/grpc_server_test.go
Labels: maintenance

Fix unit tests
  host/pkg/api/hostmgr/proto/hostmgr_southbound.pb.go
  host/pkg/api/hostmgr/proto/hostmgr_southbound.pb.validate.go
  host/pkg/api/hostmgr/proto/hostmgr_southbound.proto
  host/pkg/hostmgr/grpc_server_device_test.go
  host/pkg/hostmgr/grpc_server_test.go
  host/pkg/hostmgr/southbound_handler.go
  host/pkg/utils/utils.go
Labels: host

Updated components version
  attestationstatus/VERSION
  host/VERSION
  maintenance/VERSION
  networking/VERSION
  os-resource/VERSION
  telemetry/VERSION
Labels: host, maintenance, networking, os-resource, telemetry, attestationstatus
