Repository open-edge-platform/infra-managers, changes with the labels that .github/labeler.yml gives for each.
All labels: CI ðŸ¤–, root, host, maintenance, networking, os-resource, telemetry, attestationstatus

Update VERSION files to 1.26.3-dev for telemetry
  telemetry/VERSION
Labels: telemetry

Update VERSION files to 1.26.5-dev for host
  host/VERSION
Labels: host

Update VERSION files to 0.10.3-dev for attestationstatus
  attestationstatus/VERSION
Labels: attestationstatus

Update VERSION files to 0.22.3-dev for os-resource
  os-resource/VERSION
Labels: os-resource

Update VERSION files to 1.26.3-dev for maintenance
  maintenance/VERSION
Labels: maintenance

Update VERSION files to 1.22.3-dev for networking
  networking/VERSION
Labels: networking

Enable post-merge security scans for tag creation
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-telemetry.yml
Labels: CI ðŸ¤–

Enable post-merge security scans for tag creation (#664)
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-telemetry.yml
Labels: CI ðŸ¤–

Bump orch-library to 0.6.5 and grpc to 1.81.1
  attestationstatus/VERSION
  attestationstatus/cmd/main.go
  attestationstatus/go.mod
  attestationstatus/go.sum
  attestationstatus/pkg/attestmgr/attestmgr.go
  host/VERSION
  host/cmd/hostmgr/main.go
  host/go.mod
  host/go.sum
  host/pkg/hostmgr/hostmgr.go
  maintenance/VERSION
  maintenance/cmd/maintmgr/main.go
  maintenance/go.mod
  maintenance/go.sum
  maintenance/pkg/maintmgr/maintmgr.go
  networking/VERSION
  networking/cmd/main.go
  networking/go.mod
  networking/go.sum
  os-resource/VERSION
  os-resource/cmd/osrm.go
  os-resource/go.mod
  os-resource/go.sum
  telemetry/VERSION
  telemetry/cmd/telemetrymgr/main.go
  telemetry/go.mod
  telemetry/go.sum
  telemetry/internal/server/server.go
Labels: host, maintenance, networking, os-resource, telemetry, attestationstatus

Update Dockerfiles
  attestationstatus/Dockerfile
  host/Dockerfile
  maintenance/Dockerfile
  networking/Dockerfile
  os-resource/Dockerfile
  telemetry/Dockerfile
Labels: host, maintenance, networking, os-resource, telemetry, attestationstatus

Fix linting
  attestationstatus/cmd/main.go
  host/cmd/hostmgr/main.go
  maintenance/cmd/maintmgr/main.go
  networking/cmd/main.go
  telemetry/cmd/telemetrymgr/main.go
Labels: host, maintenance, networking, telemetry, attestationstatus

Remove trigger on tag from post-merge workflows
  .github/workflows/post-merge-attestationstatus.yml
Labels: CI ðŸ¤–

Update post-merge-host.yml
  .github/workflows/post-merge-host.yml
Labels: CI ðŸ¤–

Update post-merge-maintenance.yml
  .github/workflows/post-merge-maintenance.yml
Labels: CI ðŸ¤–

Update post-merge-networking.yml
  .github/workflows/post-merge-networking.yml
Labels: CI ðŸ¤–

Update post-merge-os-resource.yml
  .github/workflows/post-merge-os-resource.yml
Labels: CI ðŸ¤–

Update post-merge-telemetry.yml
  .github/workflows/post-merge-telemetry.yml
Labels: CI ðŸ¤–

Update inventory version
  attestationstatus/go.mod
  attestationstatus/go.sum
  host/go.mod
  host/go.sum
  maintenance/go.mod
  maintenance/go.sum
  networking/go.mod
  networking/go.sum
  os-resource/go.mod
  os-resource/go.sum
  telemetry/go.mod
  telemetry/go.sum
Labels: host, maintenance, networking, os-resource, telemetry, attestationstatus

Remove trigger on tag from post-merge workflows (#670)
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-telemetry.yml
Labels: CI ðŸ¤–

Bump orch-library to 0.6.5 and grpc to 1.81.1 (#667)
  attestationstatus/Dockerfile
  attestationstatus/VERSION
  attestationstatus/cmd/main.go
  attestationstatus/go.mod
  attestationstatus/go.sum
  attestationstatus/pkg/attestmgr/attestmgr.go
  host/Dockerfile
  host/VERSION
  host/cmd/hostmgr/main.go
  host/go.mod
  host/go.sum
  host/pkg/hostmgr/hostmgr.go
  maintenance/Dockerfile
  maintenance/VERSION
  maintenance/cmd/maintmgr/main.go
  maintenance/go.mod
  maintenance/go.sum
  maintenance/pkg/maintmgr/maintmgr.go
  networking/Dockerfile
  networking/VERSION
  networking/cmd/main.go
  networking/go.mod
  networking/go.sum
  os-resource/Dockerfile
  os-resource/VERSION
  os-resource/cmd/osrm.go
  os-resource/go.mod
  os-resource/go.sum
  telemetry/Dockerfile
  telemetry/VERSION
  telemetry/cmd/telemetrymgr/main.go
  telemetry/go.mod
  telemetry/go.sum
  telemetry/internal/server/server.go
Labels: host, maintenance, networking, os-resource, telemetry, attestationstatus

Update VERSION files to 1.26.4-dev for maintenance
  maintenance/VERSION
Labels: maintenance

Update VERSION files to 1.26.6-dev for host
  host/VERSION
Labels: host

Update VERSION files to 0.10.4-dev for attestationstatus
  attestationstatus/VERSION
Labels: attestationstatus

Update VERSION files to 0.22.4-dev for os-resource
  os-resource/VERSION
Labels: os-resource

Update VERSION files to 1.22.4-dev for networking
  networking/VERSION
Labels: networking

Update VERSION files to 1.26.4-dev for telemetry
  telemetry/VERSION
Labels: telemetry

Add new workflow security-scan-on-tag.yml
  .github/workflows/security-scan-on-tag.yml
Labels: CI ðŸ¤–

Add new workflow security-scan-on-tag.yml (#678)
  .github/workflows/security-scan-on-tag.yml
Labels: CI ðŸ¤–

Version bump for dependencies
  attestationstatus/go.mod
  attestationstatus/go.sum
  host/go.mod
  host/go.sum
  maintenance/go.mod
  maintenance/go.sum
  networking/go.mod
  networking/go.sum
  os-resource/go.mod
  os-resource/go.sum
  telemetry/go.mod
  telemetry/go.sum
Labels: host, maintenance, networking, os-resource, telemetry, attestationstatus

Bump versions
  attestationstatus/VERSION
  host/VERSION
  maintenance/VERSION
  networking/VERSION
  os-resource/VERSION
  telemetry/VERSION
Labels: host, maintenance, networking, os-resource, telemetry, attestationstatus

Update dependencies (#684)
  attestationstatus/VERSION
  attestationstatus/go.mod
  attestationstatus/go.sum
  host/VERSION
  host/go.mod
  host/go.sum
  maintenance/VERSION
  maintenance/go.mod
  maintenance/go.sum
  networking/VERSION
  networking/go.mod
  networking/go.sum
  os-resource/VERSION
  os-resource/go.mod
  os-resource/go.sum
  telemetry/VERSION
  telemetry/go.mod
  telemetry/go.sum
Labels: host, maintenance, networking, os-resource, telemetry, attestationstatus

Update VERSION files to 0.10.5-dev for attestationstatus
  attestationstatus/VERSION
Labels: attestationstatus

Update VERSION files to 0.22.5-dev for os-resource
  os-resource/VERSION
Labels: os-resource

Update VERSION files to 1.26.5-dev for maintenance
  maintenance/VERSION
Labels: maintenance

Update VERSION files to 1.26.5-dev for telemetry
  telemetry/VERSION
Labels: telemetry

Update VERSION files to 1.22.5-dev for networking
  networking/VERSION
Labels: networking

Update VERSION files to 1.26.7-dev for host
  host/VERSION
Labels: host

Version bump to 0.10.5-dev for attestationstatus (#685)
  attestationstatus/VERSION
Labels: attestationstatus

Version bump to 0.22.5-dev for os-resource (#686)
  os-resource/VERSION
Labels: os-resource

Version bump to 1.26.7-dev for host (#690)
  host/VERSION
Labels: host

.github/labeler.yml:

# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

CI ðŸ¤–:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"

host:
  - changed-files:
    - any-glob-to-any-file: "host/**"

maintenance:
  - changed-files:
    - any-glob-to-any-file: "maintenance/**"

networking:
  - changed-files:
    - any-glob-to-any-file: "networking/**"

os-resource:
  - changed-files:
    - any-glob-to-any-file: "os-resource/**"

telemetry:
  - changed-files:
    - any-glob-to-any-file: "telemetry/**"

attestationstatus:
  - changed-files:
    - any-glob-to-any-file: "attestationstatus/**"
