Repository open-edge-platform/infra-managers, changes with the labels that .github/labeler.yml gives for each.
All labels: CI ðŸ¤–, root, host, maintenance, networking, os-resource, telemetry, attestationstatus

.github/labeler.yml:

# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

CI ðŸ¤–:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"

host:
  - changed-files:
    - any-glob-to-any-file: "host/**"

maintenance:
  - changed-files:
    - any-glob-to-any-file: "maintenance/**"

networking:
  - changed-files:
    - any-glob-to-any-file: "networking/**"

os-resource:
  - changed-files:
    - any-glob-to-any-file: "os-resource/**"

telemetry:
  - changed-files:
    - any-glob-to-any-file: "telemetry/**"

attestationstatus:
  - changed-files:
    - any-glob-to-any-file: "attestationstatus/**"

restore resourceID
  host/pkg/hostmgr/southbound_handler.go
Labels: host

Remove edges from comparison
  host/pkg/invclient/invclient.go
Labels: host

Fixing permissions to increment the openSSF scorecard (#52)
  .github/workflows/auto-add-labels.yml
  .github/workflows/auto-close.yml
  .github/workflows/auto-update.yml
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-telemetry.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

chore: Add contributor
  .github/CODEOWNERS
  CONTRIBUTORS.md
Labels: CI ðŸ¤–, root

Update CONTRIBUTORS.md
  CONTRIBUTORS.md
Labels: root

chore: Add contributor (#53)
  .github/CODEOWNERS
  CONTRIBUTORS.md
Labels: CI ðŸ¤–, root

test new log
  host/pkg/hostmgr/grpc_server.go
  host/pkg/hostmgr/southbound_handler.go
Labels: host

Fix deprecated buf lint policy
  telemetry/api/buf.yaml
Labels: telemetry

fix: Update OPA dependency
  attestationstatus/go.mod
  attestationstatus/go.sum
  host/go.mod
  host/go.sum
  maintenance/go.mod
  maintenance/go.sum
  networking/go.mod
  networking/go.sum
  os-resource/go.mod
  os-resource/go.sum
  telemetry/go.mod
  telemetry/go.sum
Labels: host, maintenance, networking, os-resource, telemetry, attestationstatus

deps: Update OPA dependency (#55)
  attestationstatus/go.mod
  attestationstatus/go.sum
  host/go.mod
  host/go.sum
  maintenance/go.mod
  maintenance/go.sum
  networking/go.mod
  networking/go.sum
  os-resource/go.mod
  os-resource/go.sum
  telemetry/go.mod
  telemetry/go.sum
Labels: host, maintenance, networking, os-resource, telemetry, attestationstatus

Add API breaking changes check (#49)
  attestationstatus/Makefile
  common.mk
  host/Makefile
  host/pkg/api/buf.yaml
  maintenance/Makefile
  maintenance/pkg/api/buf.yaml
  telemetry/Makefile
  telemetry/api/buf.yaml
Labels: root, host, maintenance, telemetry, attestationstatus

fix
  attestationstatus/REUSE.toml
Labels: attestationstatus

chore: Update requirements.txt and move to REUSE.toml (#8)
  attestationstatus/requirements.txt
  host/.reuse/dep5
  host/REUSE.toml
  host/requirements.txt
  maintenance/.reuse/dep5
  maintenance/REUSE.toml
  maintenance/requirements.txt
  networking/.reuse/dep5
  networking/REUSE.toml
  networking/requirements.txt
  os-resource/.reuse/dep5
  os-resource/REUSE.toml
  os-resource/requirements.txt
  telemetry/.reuse/dep5
  telemetry/REUSE.toml
  telemetry/requirements.txt
Labels: host, maintenance, networking, os-resource, telemetry, attestationstatus

fix: deps
  attestationstatus/go.mod
  attestationstatus/go.sum
  host/go.mod
  host/go.sum
  maintenance/go.mod
  maintenance/go.sum
  networking/go.mod
  networking/go.sum
  os-resource/go.mod
  os-resource/go.sum
  telemetry/go.mod
  telemetry/go.sum
Labels: host, maintenance, networking, os-resource, telemetry, attestationstatus

chore: fix host
  host/go.mod
  host/go.sum
Labels: host

Moving the permissions to be per Job
  .github/workflows/auto-add-labels.yml
  .github/workflows/auto-close.yml
  .github/workflows/auto-update.yml
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-telemetry.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Moving the permissions to be per Job (#60)
  .github/workflows/auto-add-labels.yml
  .github/workflows/auto-close.yml
  .github/workflows/auto-update.yml
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-telemetry.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

fix pre-merge
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

fix: Do proper comparison with information coming from the EN (#40)
  .github/workflows/pre-merge.yml
  host/pkg/hostmgr/southbound_handler.go
  host/pkg/invclient/invclient.go
  host/pkg/utils/utils.go
  host/pkg/utils/utils_test.go
Labels: CI ðŸ¤–, host

revert unwanted changes
  networking/go.mod
  networking/go.sum
  os-resource/go.mod
  os-resource/go.sum
Labels: networking, os-resource

feat: allow to configure cache offset via flag (#50)
  attestationstatus/go.mod
  attestationstatus/go.sum
  host/cmd/hostmgr/main.go
  host/go.mod
  host/go.sum
  host/pkg/config/config.go
  host/pkg/hostmgr/hostmgr.go
  maintenance/cmd/maintmgr/main.go
  maintenance/go.mod
  maintenance/go.sum
  maintenance/pkg/maintmgr/maintmgr.go
  maintenance/pkg/maintmgr/maintmgr_test.go
  telemetry/cmd/telemetrymgr/main.go
  telemetry/go.mod
  telemetry/go.sum
  telemetry/internal/invclient/invclient.go
Labels: host, maintenance, telemetry, attestationstatus

Adds buffered chan to inventory client events in all RMs
  attestationstatus/pkg/invclient/invclient.go
  host/pkg/hostmgr/hostmgr.go
  maintenance/pkg/maintmgr/maintmgr.go
  networking/internal/clients/invclient.go
  os-resource/internal/invclient/invclient.go
  telemetry/internal/invclient/invclient.go
Labels: host, maintenance, networking, os-resource, telemetry, attestationstatus

Fixed buf lint errors
  telemetry/Makefile
  telemetry/api/buf.yaml
  telemetry/api/telemetrymgr/v1/telemetrymgr.proto
Labels: telemetry

Update buf.yaml
  telemetry/api/buf.yaml
Labels: telemetry

Fixed buf lint errors (#62)
  telemetry/Makefile
  telemetry/api/buf.yaml
  telemetry/api/telemetrymgr/v1/telemetrymgr.proto
Labels: telemetry

Adds buffered chan to inventory client events in all RMs (#61)
  attestationstatus/pkg/invclient/invclient.go
  host/pkg/hostmgr/hostmgr.go
  maintenance/pkg/maintmgr/maintmgr.go
  networking/internal/clients/invclient.go
  os-resource/internal/invclient/invclient.go
  telemetry/internal/invclient/invclient.go
Labels: host, maintenance, networking, os-resource, telemetry, attestationstatus

add deps to WIP PR for Inventory
  os-resource/go.mod
  os-resource/go.sum
Labels: os-resource

update deps
  os-resource/go.mod
  os-resource/go.sum
Labels: os-resource

feat: Populate Description for OSResource coming from OSProfiles in RS (#29)
  os-resource/go.mod
  os-resource/go.sum
  os-resource/internal/fsclient/fsclient.go
  os-resource/internal/util/util.go
  os-resource/internal/util/util_test.go
Labels: os-resource

chore: sort zizmor findings
  .github/dependabot.yml
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-telemetry.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

set secrets
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

chore: sort zizmor findings (#67)
  .github/dependabot.yml
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-telemetry.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Releases managers with inventory v2.25.0
  attestationstatus/VERSION
  attestationstatus/go.mod
  attestationstatus/go.sum
  host/VERSION
  host/go.mod
  host/go.sum
  maintenance/VERSION
  maintenance/go.mod
  maintenance/go.sum
  networking/VERSION
  networking/go.mod
  networking/go.sum
  os-resource/VERSION
  os-resource/go.mod
  os-resource/go.sum
  telemetry/VERSION
  telemetry/go.mod
  telemetry/go.sum
Labels: host, maintenance, networking, os-resource, telemetry, attestationstatus

chore: move to self hosted auto update
  .github/workflows/auto-update.yml
Labels: CI ðŸ¤–

chore: move to self hosted auto update (#71)
  .github/workflows/auto-update.yml
Labels: CI ðŸ¤–

Releases managers with inventory v2.25.0 (#70)
  attestationstatus/VERSION
  attestationstatus/go.mod
  attestationstatus/go.sum
  host/VERSION
  host/go.mod
  host/go.sum
  maintenance/VERSION
  maintenance/go.mod
  maintenance/go.sum
  networking/VERSION
  networking/go.mod
  networking/go.sum
  os-resource/VERSION
  os-resource/go.mod
  os-resource/go.sum
  telemetry/VERSION
  telemetry/go.mod
  telemetry/go.sum
Labels: host, maintenance, networking, os-resource, telemetry, attestationstatus

Updates cross deps in go.mod of host and maintenance
  host/VERSION
  host/go.mod
  host/go.sum
  maintenance/VERSION
  maintenance/go.mod
  maintenance/go.sum
Labels: host, maintenance

Released components with updates cross deps in go.mod of host and maintenance (#72)
  host/VERSION
  host/go.mod
  host/go.sum
  maintenance/VERSION
  maintenance/go.mod
  maintenance/go.sum
Labels: host, maintenance

chore: add secret for teams notification
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-telemetry.yml
Labels: CI ðŸ¤–

fix: Don't require default profile if autoProvision is disabled
  os-resource/internal/common/config.go
Labels: os-resource
