Repository open-edge-platform/infra-managers, changes with the labels that .github/labeler.yml gives for each.
All labels: CI ðŸ¤–, root, host, maintenance, networking, os-resource, telemetry, attestationstatus

Version bump to -dev for os-resource (#275)
  os-resource/VERSION
Labels: os-resource

Version bump to -dev for host (#274)
  host/VERSION
Labels: host

Fixed some Scorecard issues
  .github/workflows/auto-add-labels.yml
  .github/workflows/auto-close.yml
  .github/workflows/auto-update.yml
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-scorecard.yml
  .github/workflows/post-merge-telemetry.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Release telemetry
  telemetry/VERSION
Labels: telemetry

Release telemetry (#280)
  telemetry/VERSION
Labels: telemetry

Update VERSION files to next dev version for telemetry
  telemetry/VERSION
Labels: telemetry

Fixed some Scorecard issues (#279)
  .github/workflows/auto-add-labels.yml
  .github/workflows/auto-close.yml
  .github/workflows/auto-update.yml
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-scorecard.yml
  .github/workflows/post-merge-telemetry.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Version bump to -dev for telemetry (#281)
  telemetry/VERSION
Labels: telemetry

Fix vulnerabilities
  attestationstatus/go.mod
  attestationstatus/go.sum
  host/go.mod
  host/go.sum
  maintenance/go.mod
  maintenance/go.sum
  networking/go.mod
  networking/go.sum
  os-resource/go.mod
  os-resource/go.sum
  telemetry/go.mod
  telemetry/go.sum
Labels: host, maintenance, networking, os-resource, telemetry, attestationstatus

Allow for OS Update Run creation without applied_policy
  maintenance/go.mod
  maintenance/go.sum
  maintenance/pkg/invclient/invclient_test.go
  maintenance/pkg/maintmgr/southbound_handler.go
Labels: maintenance

Update VERSION
  maintenance/VERSION
Labels: maintenance

Fix
  maintenance/pkg/invclient/invclient_test.go
  maintenance/pkg/maintmgr/southbound_handler.go
Labels: maintenance

Fix
  maintenance/pkg/maintmgr/southbound_handler.go
Labels: maintenance

bios release date format update
  host/pkg/api/hostmgr/proto/hostmgr_southbound.pb.validate.go
Labels: host

Fix
  maintenance/pkg/invclient/invclient_test.go
  maintenance/pkg/maintmgr/southbound_handler.go
Labels: maintenance

Update southbound_handler.go
  maintenance/pkg/maintmgr/southbound_handler.go
Labels: maintenance

Fix for prject creation failure issue
  os-resource/VERSION
  os-resource/common.mk
  os-resource/internal/controller/controller.go
  os-resource/internal/fsclient/fsclient.go
  os-resource/version.mk
Labels: os-resource

Updated code to log the error and return succsess in case get existing CVEs fails
  os-resource/internal/controller/reconcilers/tenant.go
Labels: os-resource

Updated code to don't copy existing_cves_url in case of OS Resource Update
  os-resource/internal/controller/reconcilers/tenant.go
  os-resource/internal/invclient/invclient.go
Labels: os-resource

removing common.mk and version.mk
  os-resource/common.mk
  os-resource/version.mk
Labels: os-resource

Enhance logging in TenantReconciler for OS watcher acknowledgment and reconciliation process
  os-resource/internal/controller/reconcilers/tenant.go
Labels: os-resource

fixed lint errors
  os-resource/internal/controller/reconcilers/tenant.go
Labels: os-resource

Fix for project creation issue itep-81599 (#293)
  os-resource/VERSION
  os-resource/internal/controller/controller.go
  os-resource/internal/controller/reconcilers/tenant.go
  os-resource/internal/fsclient/fsclient.go
  os-resource/internal/invclient/invclient.go
Labels: os-resource

Updated inventory version
  maintenance/go.mod
  maintenance/go.sum
Labels: maintenance

Allow for OS Update Run creation without applied_policy (#288)
  maintenance/VERSION
  maintenance/go.mod
  maintenance/go.sum
  maintenance/pkg/invclient/invclient_test.go
  maintenance/pkg/maintmgr/southbound_handler.go
Labels: maintenance

Bump OSRM version
  os-resource/VERSION
Labels: os-resource

Update post-merge-os-resource.yml
  .github/workflows/post-merge-os-resource.yml
Labels: CI ðŸ¤–

Bump OSRM version (#294)
  .github/workflows/post-merge-os-resource.yml
  os-resource/VERSION
Labels: CI ðŸ¤–, os-resource

Update VERSION files to next dev version for os-resource
  os-resource/VERSION
Labels: os-resource

Update post-merge-attestationstatus.yml
  .github/workflows/post-merge-attestationstatus.yml
Labels: CI ðŸ¤–

Update post-merge-host.yml
  .github/workflows/post-merge-host.yml
Labels: CI ðŸ¤–

Update post-merge-maintenance.yml
  .github/workflows/post-merge-maintenance.yml
Labels: CI ðŸ¤–

Update post-merge-networking.yml
  .github/workflows/post-merge-networking.yml
Labels: CI ðŸ¤–

Update post-merge-telemetry.yml
  .github/workflows/post-merge-telemetry.yml
Labels: CI ðŸ¤–

Update post-merge of managers (#296)
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-telemetry.yml
Labels: CI ðŸ¤–

Version bump to -dev for os-resource (#295)
  os-resource/VERSION
Labels: os-resource

Bumping increment version of all mgrs
  attestationstatus/VERSION
  host/VERSION
  maintenance/VERSION
  networking/VERSION
  telemetry/VERSION
Labels: host, maintenance, networking, telemetry, attestationstatus

Adding -dev version
  maintenance/VERSION
Labels: maintenance

adding 1.24.2
  maintenance/VERSION
Labels: maintenance

Update VERSION
  maintenance/VERSION
Labels: maintenance

.github/labeler.yml:

# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

CI ðŸ¤–:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"

host:
  - changed-files:
    - any-glob-to-any-file: "host/**"

maintenance:
  - changed-files:
    - any-glob-to-any-file: "maintenance/**"

networking:
  - changed-files:
    - any-glob-to-any-file: "networking/**"

os-resource:
  - changed-files:
    - any-glob-to-any-file: "os-resource/**"

telemetry:
  - changed-files:
    - any-glob-to-any-file: "telemetry/**"

attestationstatus:
  - changed-files:
    - any-glob-to-any-file: "attestationstatus/**"
