Repository open-edge-platform/infra-managers, changes with the labels that .github/labeler.yml gives for each.
All labels: CI ðŸ¤–, root, host, maintenance, networking, os-resource, telemetry, attestationstatus

up
  os-resource/internal/common/config.go
  os-resource/internal/controller/reconcilers/tenant.go
Labels: os-resource

patch version
  os-resource/VERSION
Labels: os-resource

chore: add secret for teams notification (#81)
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-telemetry.yml
Labels: CI ðŸ¤–

fix lint
  os-resource/internal/controller/reconcilers/tenant.go
Labels: os-resource

fix broken indent
  .github/workflows/post-merge-host.yml
Labels: CI ðŸ¤–

add tests
  os-resource/internal/controller/reconcilers/tenant.go
  os-resource/internal/controller/reconcilers/tenant_test.go
Labels: os-resource

fix lint
  os-resource/internal/controller/reconcilers/tenant_test.go
Labels: os-resource

fix: Don't require default profile if autoProvision is disabled (#83)
  .github/workflows/post-merge-host.yml
  os-resource/VERSION
  os-resource/internal/controller/reconcilers/tenant.go
  os-resource/internal/controller/reconcilers/tenant_test.go
Labels: CI ðŸ¤–, os-resource

chore: remove renamed flag
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-telemetry.yml
Labels: CI ðŸ¤–

chore: remove renamed flag (#84)
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-telemetry.yml
Labels: CI ðŸ¤–

chore: bump dev all
  attestationstatus/VERSION
  host/VERSION
  maintenance/VERSION
  networking/VERSION
  telemetry/VERSION
Labels: host, maintenance, networking, telemetry, attestationstatus

chore: bump dev all (#85)
  attestationstatus/VERSION
  host/VERSION
  maintenance/VERSION
  networking/VERSION
  telemetry/VERSION
Labels: host, maintenance, networking, telemetry, attestationstatus

Bump OSRM
  os-resource/VERSION
Labels: os-resource

fix: set host status to connection lost even when host is in error state
  host/pkg/invclient/invclient.go
  host/pkg/invclient/invclient_test.go
Labels: host

fix: set host status to "No Connection" even when host is in error state (#87)
  host/pkg/invclient/invclient.go
  host/pkg/invclient/invclient_test.go
Labels: host

Parse and populate OS metadata
  os-resource/VERSION
  os-resource/go.mod
  os-resource/go.sum
  os-resource/internal/fsclient/fsclient.go
  os-resource/internal/testing/artifactservice_mock.go
  os-resource/internal/util/util.go
  os-resource/internal/util/util_test.go
Labels: os-resource

fix
  os-resource/go.mod
  os-resource/go.sum
Labels: os-resource

use string map
  os-resource/internal/fsclient/fsclient.go
  os-resource/internal/util/util_test.go
Labels: os-resource

fix lint
  os-resource/internal/util/util.go
Labels: os-resource

fix by downgrading inventory dep
  os-resource/go.mod
  os-resource/go.sum
Labels: os-resource

fix: Use RM client type to pass rego rules
  os-resource/go.mod
  os-resource/go.sum
  os-resource/internal/invclient/invclient.go
  os-resource/internal/testing/testing_utils.go
Labels: os-resource

fix: Use RM client type to pass rego rules (#93)
  os-resource/go.mod
  os-resource/go.sum
  os-resource/internal/invclient/invclient.go
  os-resource/internal/testing/testing_utils.go
Labels: os-resource

feat: Parse and populate OS metadata (#92)
  os-resource/VERSION
  os-resource/internal/fsclient/fsclient.go
  os-resource/internal/testing/artifactservice_mock.go
  os-resource/internal/util/util.go
  os-resource/internal/util/util_test.go
Labels: os-resource

Use OSUpdatePolicy to populate update responce for PUA
  maintenance/go.mod
  maintenance/go.sum
  maintenance/pkg/invclient/invclient.go
  maintenance/pkg/invclient/invclient_test.go
  maintenance/pkg/maintmgr/grpc_server.go
  maintenance/pkg/maintmgr/southbound_handler.go
  maintenance/pkg/utils/utils.go
Labels: maintenance

small update
  maintenance/pkg/maintmgr/grpc_server.go
Labels: maintenance

Handle OSUpdateRun creation/update
  maintenance/pkg/maintmgr/grpc_server.go
  maintenance/pkg/maintmgr/southbound_handler.go
Labels: maintenance

Updates and releases managers with inventory v2.27.0
  attestationstatus/VERSION
  host/VERSION
  maintenance/VERSION
  networking/VERSION
  os-resource/VERSION
  os-resource/go.mod
  os-resource/go.sum
  telemetry/VERSION
Labels: host, maintenance, networking, os-resource, telemetry, attestationstatus

Add new tests and fix few things around
  maintenance/.golangci.yml
  maintenance/go.mod
  maintenance/go.sum
  maintenance/pkg/invclient/invclient.go
  maintenance/pkg/invclient/invclient_test.go
  maintenance/pkg/maintmgr/grpc_server.go
  maintenance/pkg/maintmgr/grpc_server_test.go
  maintenance/pkg/maintmgr/southbound_handler.go
  maintenance/pkg/utils/utils.go
  maintenance/pkg/utils/utils_test.go
Labels: maintenance

Updates components to golang 1.24.4
  attestationstatus/Dockerfile
  attestationstatus/go.mod
  host/Dockerfile
  host/go.mod
  maintenance/Dockerfile
  maintenance/go.mod
  networking/Dockerfile
  networking/go.mod
  os-resource/Dockerfile
  os-resource/go.mod
  telemetry/Dockerfile
  telemetry/go.mod
  version.mk
Labels: root, host, maintenance, networking, os-resource, telemetry, attestationstatus

Fix os-rm test
  os-resource/internal/controller/reconcilers/tenant_test.go
Labels: os-resource

Bump osrm
  os-resource/VERSION
Labels: os-resource

fix: unit tests
  os-resource/internal/controller/reconcilers/tenant_test.go
  os-resource/internal/invclient/invclient_test.go
Labels: os-resource

fix: ignore healthcheck
  os-resource/.trivyignore
Labels: os-resource

fix: bump
  host/Dockerfile
  maintenance/Dockerfile
  version.mk
Labels: root, host, maintenance

Bump go
  attestationstatus/Dockerfile
  attestationstatus/go.mod
  networking/Dockerfile
  networking/go.mod
  os-resource/Dockerfile
  os-resource/go.mod
  telemetry/Dockerfile
  telemetry/go.mod
Labels: networking, os-resource, telemetry, attestationstatus

Bump go
  attestationstatus/Dockerfile
  networking/Dockerfile
  os-resource/Dockerfile
  telemetry/Dockerfile
Labels: networking, os-resource, telemetry, attestationstatus

Update inventory version and add small code refactoring
  maintenance/go.mod
  maintenance/go.sum
  maintenance/pkg/invclient/invclient_test.go
  maintenance/pkg/maintmgr/grpc_server.go
Labels: maintenance

Fix lint issues
  maintenance/pkg/invclient/invclient_test.go
  maintenance/pkg/maintmgr/grpc_server.go
Labels: maintenance

Align with latest inventory
  maintenance/go.mod
  maintenance/go.sum
  maintenance/pkg/invclient/invclient_test.go
  maintenance/pkg/maintmgr/grpc_server.go
Labels: maintenance

Address comments
  maintenance/pkg/invclient/invclient.go
  maintenance/pkg/maintmgr/grpc_server.go
  maintenance/pkg/maintmgr/southbound_handler.go
Labels: maintenance

.github/labeler.yml:

# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

CI ðŸ¤–:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"

host:
  - changed-files:
    - any-glob-to-any-file: "host/**"

maintenance:
  - changed-files:
    - any-glob-to-any-file: "maintenance/**"

networking:
  - changed-files:
    - any-glob-to-any-file: "networking/**"

os-resource:
  - changed-files:
    - any-glob-to-any-file: "os-resource/**"

telemetry:
  - changed-files:
    - any-glob-to-any-file: "telemetry/**"

attestationstatus:
  - changed-files:
    - any-glob-to-any-file: "attestationstatus/**"
