Repository open-edge-platform/infra-managers, changes with the labels that .github/labeler.yml gives for each.
All labels: CI ðŸ¤–, root, host, maintenance, networking, os-resource, telemetry, attestationstatus

.github/labeler.yml:

# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

CI ðŸ¤–:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"

host:
  - changed-files:
    - any-glob-to-any-file: "host/**"

maintenance:
  - changed-files:
    - any-glob-to-any-file: "maintenance/**"

networking:
  - changed-files:
    - any-glob-to-any-file: "networking/**"

os-resource:
  - changed-files:
    - any-glob-to-any-file: "os-resource/**"

telemetry:
  - changed-files:
    - any-glob-to-any-file: "telemetry/**"

attestationstatus:
  - changed-files:
    - any-glob-to-any-file: "attestationstatus/**"

fixed cve
  attestationstatus/go.mod
  attestationstatus/go.sum
  host/go.mod
  host/go.sum
  maintenance/go.mod
  maintenance/go.sum
  networking/go.mod
  networking/go.sum
  os-resource/go.mod
  os-resource/go.sum
  telemetry/go.mod
  telemetry/go.sum
Labels: host, maintenance, networking, os-resource, telemetry, attestationstatus

Updated Versions opf the components
  attestationstatus/VERSION
  host/VERSION
  maintenance/VERSION
  networking/VERSION
  os-resource/VERSION
  telemetry/VERSION
Labels: host, maintenance, networking, os-resource, telemetry, attestationstatus

fixed cve (#691)
  attestationstatus/VERSION
  attestationstatus/go.mod
  attestationstatus/go.sum
  host/VERSION
  host/go.mod
  host/go.sum
  maintenance/VERSION
  maintenance/go.mod
  maintenance/go.sum
  networking/VERSION
  networking/go.mod
  networking/go.sum
  os-resource/VERSION
  os-resource/go.mod
  os-resource/go.sum
  telemetry/VERSION
  telemetry/go.mod
  telemetry/go.sum
Labels: host, maintenance, networking, os-resource, telemetry, attestationstatus

Update VERSION files to 0.10.6-dev for attestationstatus
  attestationstatus/VERSION
Labels: attestationstatus

Update VERSION files to 1.26.6-dev for maintenance
  maintenance/VERSION
Labels: maintenance

Update VERSION files to 0.22.6-dev for os-resource
  os-resource/VERSION
Labels: os-resource

Update VERSION files to 1.26.8-dev for host
  host/VERSION
Labels: host

Update VERSION files to 1.26.6-dev for telemetry
  telemetry/VERSION
Labels: telemetry

Update VERSION files to 1.22.6-dev for networking
  networking/VERSION
Labels: networking

Version bump to 1.26.6-dev for telemetry (#696)
  telemetry/VERSION
Labels: telemetry

Version bump to 1.22.6-dev for networking (#697)
  networking/VERSION
Labels: networking

Version bump to 0.22.6-dev for os-resource (#695)
  os-resource/VERSION
Labels: os-resource

Version bump to 1.26.6-dev for maintenance (#693)
  maintenance/VERSION
Labels: maintenance

Version bump to 1.26.8-dev for host (#694)
  host/VERSION
Labels: host

Version bump to 0.10.6-dev for attestationstatus (#692)
  attestationstatus/VERSION
Labels: attestationstatus

Add deprecation/archive notice to README (line 3)
  README.md
Labels: root

Add archive/deprecation notice (#734)
  README.md
Labels: root
