Repository open-edge-platform/infra-managers, changes with the labels that .github/labeler.yml gives for each.
All labels: CI ðŸ¤–, root, host, maintenance, networking, os-resource, telemetry, attestationstatus

Update VERSION files to next dev version for maintenance
  maintenance/VERSION
Labels: maintenance

Conditional instance update
  maintenance/VERSION
  maintenance/pkg/invclient/invclient.go
  maintenance/pkg/invclient/invclient_test.go
  maintenance/pkg/maintmgr/southbound_handler.go
Labels: maintenance

Improve instance update
  maintenance/pkg/invclient/invclient.go
  maintenance/pkg/invclient/invclient_test.go
  maintenance/pkg/maintmgr/southbound_handler.go
Labels: maintenance

Create new run only when update status changes in instance
  maintenance/pkg/maintmgr/grpc_server_test.go
  maintenance/pkg/maintmgr/southbound_handler.go
Labels: maintenance

Create new run only when update status changes in instance
  maintenance/pkg/maintmgr/grpc_server.go
  maintenance/pkg/maintmgr/grpc_server_test.go
  maintenance/pkg/maintmgr/southbound_handler.go
Labels: maintenance

allow kernel command update in case of immutable os
  maintenance/pkg/maintmgr/grpc_server.go
Labels: maintenance

Set osUpdateAvailable for mutable OS ENs (#182)
  maintenance/VERSION
  maintenance/pkg/invclient/invclient.go
  maintenance/pkg/invclient/invclient_test.go
  maintenance/pkg/maintmgr/grpc_server_test.go
  maintenance/pkg/maintmgr/southbound_handler.go
Labels: maintenance

Update VERSION files to next dev version for maintenance
  maintenance/VERSION
Labels: maintenance

Version bump
  maintenance/VERSION
Labels: maintenance

Version bump to -dev for maintenance (#192)
  maintenance/VERSION
Labels: maintenance

Update VERSION
  maintenance/VERSION
Labels: maintenance

Update southbound_handler.go
  maintenance/pkg/maintmgr/southbound_handler.go
Labels: maintenance

Fix: Create new run only when update status changes in instance (#190)
  maintenance/VERSION
  maintenance/pkg/maintmgr/grpc_server.go
  maintenance/pkg/maintmgr/grpc_server_test.go
  maintenance/pkg/maintmgr/southbound_handler.go
Labels: maintenance

Update VERSION files to next dev version for maintenance
  maintenance/VERSION
Labels: maintenance

Version bump to -dev for maintenance (#195)
  maintenance/VERSION
Labels: maintenance

Allow booting status in HRM sb
  host/pkg/utils/utils.go
Labels: host

Fix lint
  host/pkg/utils/utils.go
Labels: host

Allow booting status in HRM sb (#197)
  host/pkg/utils/utils.go
Labels: host

Add status initializing in hrm
  host/docs/api/hostmgr.md
  host/pkg/api/hostmgr/proto/hostmgr_southbound.pb.go
  host/pkg/api/hostmgr/proto/hostmgr_southbound.proto
  host/pkg/status/status.go
Labels: host

Revert "Allow booting status in HRM sb (#197)"
  host/pkg/utils/utils.go
Labels: host

Update mappings
  host/pkg/utils/utils.go
Labels: host

Add status initializing in hrm (#198)
  host/docs/api/hostmgr.md
  host/pkg/api/hostmgr/proto/hostmgr_southbound.pb.go
  host/pkg/api/hostmgr/proto/hostmgr_southbound.proto
  host/pkg/status/status.go
  host/pkg/utils/utils.go
Labels: host

Add TLS CA Certificate in OS Resource
  os-resource/go.mod
  os-resource/go.sum
  os-resource/internal/controller/reconcilers/tenant_test.go
  os-resource/internal/fsclient/fsclient.go
  os-resource/internal/util/util.go
  os-resource/internal/util/util_test.go
Labels: os-resource

fix test
  os-resource/internal/util/util_test.go
Labels: os-resource

Update hrm VERSION
  host/VERSION
Labels: host

Update hrm VERSION (#200)
  host/VERSION
Labels: host

Update VERSION files to next dev version for host
  host/VERSION
Labels: host

Version bump to -dev for host (#201)
  host/VERSION
Labels: host

Remove automatic and manual modes from OSRM
  os-resource/VERSION
  os-resource/cmd/osrm.go
  os-resource/internal/common/config.go
  os-resource/internal/common/flags.go
  os-resource/internal/controller/reconcilers/tenant.go
  os-resource/internal/controller/reconcilers/tenant_test.go
  os-resource/internal/invclient/invclient.go
  os-resource/internal/testing/artifactservice_mock.go
Labels: os-resource

Fix lint
  os-resource/cmd/osrm.go
  os-resource/internal/common/config.go
  os-resource/internal/controller/reconcilers/tenant.go
  os-resource/internal/controller/reconcilers/tenant_test.go
  os-resource/internal/testing/artifactservice_mock.go
Labels: os-resource

Update VERSION
  os-resource/VERSION
Labels: os-resource

Enhancements done in download CVE code for mutable OS for issues found in UT of code
  os-resource/VERSION
  os-resource/internal/controller/controller_test.go
  os-resource/internal/controller/reconcilers/tenant.go
  os-resource/internal/fsclient/fsclient.go
  os-resource/internal/fsclient/fsclient_test.go
  os-resource/internal/testing/artifactservice_mock.go
Labels: os-resource

Pin pre-merge to a known good commit
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update invclient.go
  os-resource/internal/invclient/invclient.go
Labels: os-resource

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update VERSION
  os-resource/VERSION
Labels: os-resource

Update VERSION
  os-resource/VERSION
Labels: os-resource

Fix pre-merge workflow
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Remove automatic and manual modes from OSRM (#202)
  os-resource/VERSION
  os-resource/cmd/osrm.go
  os-resource/internal/common/config.go
  os-resource/internal/common/flags.go
  os-resource/internal/controller/reconcilers/tenant.go
  os-resource/internal/controller/reconcilers/tenant_test.go
  os-resource/internal/invclient/invclient.go
  os-resource/internal/testing/artifactservice_mock.go
Labels: os-resource

.github/labeler.yml:

# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

CI ðŸ¤–:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"

host:
  - changed-files:
    - any-glob-to-any-file: "host/**"

maintenance:
  - changed-files:
    - any-glob-to-any-file: "maintenance/**"

networking:
  - changed-files:
    - any-glob-to-any-file: "networking/**"

os-resource:
  - changed-files:
    - any-glob-to-any-file: "os-resource/**"

telemetry:
  - changed-files:
    - any-glob-to-any-file: "telemetry/**"

attestationstatus:
  - changed-files:
    - any-glob-to-any-file: "attestationstatus/**"
