Repository open-edge-platform/infra-managers, changes with the labels that .github/labeler.yml gives for each.
All labels: CI ðŸ¤–, root, host, maintenance, networking, os-resource, telemetry, attestationstatus

.github/labeler.yml:

# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

CI ðŸ¤–:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"

host:
  - changed-files:
    - any-glob-to-any-file: "host/**"

maintenance:
  - changed-files:
    - any-glob-to-any-file: "maintenance/**"

networking:
  - changed-files:
    - any-glob-to-any-file: "networking/**"

os-resource:
  - changed-files:
    - any-glob-to-any-file: "os-resource/**"

telemetry:
  - changed-files:
    - any-glob-to-any-file: "telemetry/**"

attestationstatus:
  - changed-files:
    - any-glob-to-any-file: "attestationstatus/**"

Updating the version
  os-resource/VERSION
Labels: os-resource

Fix unit test
  maintenance/pkg/maintmgr/grpc_server_test.go
Labels: maintenance

Fix unit test
  maintenance/pkg/maintmgr/grpc_server_test.go
Labels: maintenance

Fix unit test
  maintenance/pkg/maintmgr/grpc_server_test.go
Labels: maintenance

Reduce timeout
  maintenance/pkg/invclient/invclient.go
Labels: maintenance

Reintroduce OSUpdatePolicy and OSUpdateRun resources into day2 operat… (#159)
  maintenance/.golangci.yml
  maintenance/go.mod
  maintenance/go.sum
  maintenance/pkg/invclient/invclient.go
  maintenance/pkg/invclient/invclient_test.go
  maintenance/pkg/maintmgr/grpc_server.go
  maintenance/pkg/maintmgr/grpc_server_test.go
  maintenance/pkg/maintmgr/southbound_handler.go
  maintenance/pkg/maintmgr/southbound_handler_test.go
  maintenance/pkg/utils/utils.go
  maintenance/pkg/utils/utils_test.go
Labels: maintenance

MM checks if OS update is available for immutable OS and sets os-update-available field in Instance
  maintenance/pkg/invclient/invclient.go
  maintenance/pkg/maintmgr/southbound_handler.go
Labels: maintenance

reverted back the optimization done in code logic to fetch the versioned os-profiles
  os-resource/internal/controller/reconcilers/tenant.go
  os-resource/internal/fsclient/fsclient.go
Labels: os-resource

Support for automatic fetching of different patched versions of any OS Profile without orchestrator redeployment/upgrade (#166)
  os-resource/VERSION
  os-resource/internal/controller/reconcilers/tenant.go
  os-resource/internal/fsclient/fsclient.go
  os-resource/internal/fsclient/fsclient_test.go
Labels: os-resource

Update VERSION files to next dev version
  os-resource/VERSION
Labels: os-resource

Correcting version of OS Resource Manager. Wrongly set it to 0.19.3 It Should be 0.19.2
  os-resource/VERSION
Labels: os-resource

Correcting version of OS Resource Manager. Wrongly set it to 0.19.3 It Should be 0.19.2 (#172)
  os-resource/VERSION
Labels: os-resource

Update VERSION files to next dev version
  os-resource/VERSION
Labels: os-resource

Version bump to -dev for os-resource (#173)
  os-resource/VERSION
Labels: os-resource

Update workflow dispatch for pre-merg.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update workflow dispatch for pre-merg.yml (#175)
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

adding new parameter os_updates_available in UpdateStatus API
  maintenance/docs/api/maintmgr.md
  maintenance/pkg/api/maintmgr/v1/maintmgr.pb.go
  maintenance/pkg/api/maintmgr/v1/maintmgr.pb.validate.go
  maintenance/pkg/api/maintmgr/v1/maintmgr.proto
Labels: maintenance

Updated the version
  maintenance/VERSION
Labels: maintenance

Updated as per the review comment to make os_updates_available to os_update_available
  maintenance/docs/api/maintmgr.md
  maintenance/pkg/api/maintmgr/v1/maintmgr.pb.go
  maintenance/pkg/api/maintmgr/v1/maintmgr.pb.validate.go
  maintenance/pkg/api/maintmgr/v1/maintmgr.proto
Labels: maintenance

Updated Southbound API UpdateStatus in MM for passing OS Updates Available Info from PUA to MM (#176)
  maintenance/VERSION
  maintenance/docs/api/maintmgr.md
  maintenance/pkg/api/maintmgr/v1/maintmgr.pb.go
  maintenance/pkg/api/maintmgr/v1/maintmgr.pb.validate.go
  maintenance/pkg/api/maintmgr/v1/maintmgr.proto
Labels: maintenance

Update VERSION files to next dev version
  maintenance/VERSION
Labels: maintenance

Add unit test
  maintenance/pkg/maintmgr/grpc_server_test.go
  maintenance/pkg/maintmgr/southbound_handler.go
Labels: maintenance

Version bump to -dev for maintenance (#177)
  maintenance/VERSION
Labels: maintenance

Fix
  maintenance/pkg/invclient/invclient.go
  maintenance/pkg/invclient/invclient_test.go
Labels: maintenance

Fixes
  maintenance/pkg/maintmgr/grpc_server_test.go
  maintenance/pkg/maintmgr/southbound_handler.go
Labels: maintenance

Fixes
  maintenance/pkg/maintmgr/grpc_server_test.go
Labels: maintenance

Enable unsetting of osUpdateAvailable field
  maintenance/go.mod
  maintenance/go.sum
  maintenance/pkg/invclient/invclient.go
  maintenance/pkg/invclient/invclient_test.go
  maintenance/pkg/maintmgr/southbound_handler.go
  maintenance/pkg/utils/utils.go
  maintenance/pkg/utils/utils_test.go
Labels: maintenance

Fix linter issues
  maintenance/pkg/invclient/invclient.go
  maintenance/pkg/invclient/invclient_test.go
  maintenance/pkg/maintmgr/southbound_handler.go
  maintenance/pkg/utils/utils.go
Labels: maintenance

Update invclient.go
  maintenance/pkg/invclient/invclient.go
Labels: maintenance

Fix unit test
  maintenance/pkg/invclient/invclient.go
  maintenance/pkg/invclient/invclient_test.go
Labels: maintenance

Update utils_test.go
  maintenance/pkg/utils/utils_test.go
Labels: maintenance

Update grpc_server_test.go
  maintenance/pkg/maintmgr/grpc_server_test.go
Labels: maintenance

MM checks if OS update is available for immutable OS and sets os-upda… (#167)
  maintenance/go.mod
  maintenance/go.sum
  maintenance/pkg/invclient/invclient.go
  maintenance/pkg/invclient/invclient_test.go
  maintenance/pkg/maintmgr/grpc_server_test.go
  maintenance/pkg/maintmgr/southbound_handler.go
  maintenance/pkg/utils/utils.go
  maintenance/pkg/utils/utils_test.go
Labels: maintenance

Set osUpdateAvailable for mutable OS ENs
  maintenance/pkg/maintmgr/grpc_server_test.go
  maintenance/pkg/maintmgr/southbound_handler.go
Labels: maintenance

Fix unit tests
  maintenance/pkg/maintmgr/grpc_server_test.go
Labels: maintenance

Fix unit tests
  maintenance/pkg/maintmgr/grpc_server_test.go
Labels: maintenance

Update MM to use renamed fields in OSUpdatePolicy
  maintenance/go.mod
  maintenance/go.sum
  maintenance/pkg/maintmgr/grpc_server.go
  maintenance/pkg/maintmgr/grpc_server_test.go
Labels: maintenance

Version bump
  maintenance/VERSION
Labels: maintenance

Inventory version update
  maintenance/go.mod
  maintenance/go.sum
Labels: maintenance

Update MM to use renamed fields in OSUpdatePolicy (#186)
  maintenance/VERSION
  maintenance/go.mod
  maintenance/go.sum
  maintenance/pkg/maintmgr/grpc_server.go
  maintenance/pkg/maintmgr/grpc_server_test.go
Labels: maintenance
