Repository open-edge-platform/infra-managers, changes with the labels that .github/labeler.yml gives for each.
All labels: CI ðŸ¤–, root, host, maintenance, networking, os-resource, telemetry, attestationstatus

make buf-gen with proper version
  host/pkg/api/hostmgr/proto/hostmgr_southbound.pb.go
  host/pkg/api/hostmgr/proto/hostmgr_southbound.pb.validate.go
  host/pkg/api/hostmgr/proto/hostmgr_southbound.proto
Labels: host

replace SYS_ORCH_GITHUB with SYS_EMF_GH_TOKEN and bump version
  .github/workflows/4
  .github/workflows/auto-add-labels.yml
  .github/workflows/auto-update.yml
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-scorecard.yml
  .github/workflows/post-merge-telemetry.yml
Labels: CI ðŸ¤–

replace SYS_ORCH_GITHUB with SYS_EMF_GH_TOKEN and bump version
  .github/workflows/4
Labels: CI ðŸ¤–

Feature/anil/replace GitHub secret variables (#327)
  .github/workflows/auto-add-labels.yml
  .github/workflows/auto-update.yml
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-scorecard.yml
  .github/workflows/post-merge-telemetry.yml
Labels: CI ðŸ¤–

Update pre-merge.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update pre-merge.yml to standardize ORCH-CI usage with other components (#328)
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update auto-add-labels.yml Skip Labeler from Dependabot forks
  .github/workflows/auto-add-labels.yml
Labels: CI ðŸ¤–

Update auto-add-labels.yml Skip Labeler from Dependabot forks (#339)
  .github/workflows/auto-add-labels.yml
Labels: CI ðŸ¤–

Bump golang version to 1.25.5
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-telemetry.yml
  .github/workflows/pre-merge.yml
  attestationstatus/.golangci.yml
  attestationstatus/Dockerfile
  attestationstatus/VERSION
  attestationstatus/go.mod
  host/.golangci.yml
  host/Dockerfile
  host/VERSION
  host/go.mod
  maintenance/.golangci.yml
  maintenance/Dockerfile
  maintenance/VERSION
  maintenance/go.mod
  maintenance/pkg/maintmgr/grpc_server_test.go
  maintenance/pkg/maintmgr/maintmgr_utils_test.go
  maintenance/pkg/maintmgr/southbound_handler.go
  networking/.golangci.yml
  networking/Dockerfile
  networking/VERSION
  networking/go.mod
  os-resource/.golangci.yml
  os-resource/Dockerfile
  os-resource/VERSION
  os-resource/go.mod
  telemetry/.golangci.yml
  telemetry/Dockerfile
  telemetry/VERSION
  telemetry/go.mod
  version.mk
Labels: CI ðŸ¤–, root, host, maintenance, networking, os-resource, telemetry, attestationstatus

Updated version for inventory in go.mod
  attestationstatus/go.mod
  attestationstatus/go.sum
  host/go.mod
  host/go.sum
  maintenance/go.mod
  maintenance/go.sum
  networking/go.mod
  networking/go.sum
  os-resource/go.mod
  os-resource/go.sum
  telemetry/go.mod
  telemetry/go.sum
Labels: host, maintenance, networking, os-resource, telemetry, attestationstatus

Removed orch_ci_repo_ref variable from github workfloa pre-merge and post-merge files
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-telemetry.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Fixed godot lint error
  host/internal/hostmgr/handlers/northbound.go
Labels: host

Fix for formatting error
  host/test/utils/hostmgr_utils.go
Labels: host

updated golangci.yml file using migrate script
  attestationstatus/.golangci.yml
  attestationstatus/pkg/attestmgr/grpc_server_test.go
  attestationstatus/pkg/invclient/invclient.go
  host/.golangci.yml
  host/cmd/hostmgr/main.go
  host/pkg/alivemgr/availability_manager.go
  host/pkg/hostmgr/grpc_server_test.go
  host/pkg/hostmgr/hostmgr.go
  host/pkg/invclient/invclient.go
  host/pkg/invclient/invclient_test.go
  maintenance/.golangci.yml
  networking/.golangci.yml
  networking/internal/handlers/northbound.go
  os-resource/.golangci.yml
  os-resource/internal/common/flags.go
  os-resource/internal/controller/reconcilers/tenant_test.go
  os-resource/internal/fsclient/fsclient.go
  os-resource/internal/invclient/invclient.go
  os-resource/internal/testing/artifactservice_mock.go
  os-resource/internal/util/util.go
  telemetry/.golangci.yml
  telemetry/internal/invclient/invclient.go
  telemetry/internal/server/server_test.go
  telemetry/internal/telemetrymgrsvc/telemetrymgr.go
Labels: host, maintenance, networking, os-resource, telemetry, attestationstatus

fixed more lint errors
  host/internal/hostmgr/handlers/northbound.go
  host/pkg/config/config.go
  host/pkg/errors/errors.go
  host/pkg/hostmgr/hostmgr.go
Labels: host

Fixed more review comments
  host/pkg/hostmgr/grpc_server_test.go
  host/pkg/hostmgr/hostmgr.go
  host/pkg/status/status.go
Labels: host

Pre-merge SHA bump
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Pre-merge SHA bump (#354)
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Bump pre merge
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Bump pre merge (#355)
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Removed duplicate comments
  host/internal/hostmgr/handlers/northbound.go
  host/pkg/hostmgr/hostmgr.go
  host/pkg/invclient/invclient.go
  host/pkg/utils/utils.go
  host/test/utils/hostmgr_utils.go
  maintenance/internal/testing/testing_utils.go
  maintenance/pkg/errors/errors.go
  maintenance/pkg/invclient/invclient.go
  maintenance/pkg/maintmgr/maintmgr.go
  maintenance/pkg/maintmgr/southbound_handler.go
  maintenance/pkg/status/status.go
  maintenance/pkg/statusdetail/statusdetail.go
  maintenance/pkg/utils/utils.go
  os-resource/internal/common/config.go
  os-resource/internal/common/flags.go
  os-resource/internal/controller/controller.go
  os-resource/internal/controller/reconcilers/common.go
  os-resource/internal/controller/reconcilers/tenant.go
  os-resource/internal/testing/artifactservice_mock.go
  os-resource/internal/testing/testing_utils.go
  os-resource/internal/util/util.go
  telemetry/internal/handlers/northbound/northbound.go
  telemetry/internal/handlers/southbound/southbound.go
  telemetry/internal/invclient/invclient.go
  telemetry/internal/invclient/telemetrycache.go
  telemetry/internal/server/server.go
  telemetry/internal/telemetrymgrsvc/telemetrymgr.go
  telemetry/internal/telemetrymgrsvc/telemetrymgr_utils.go
  telemetry/internal/testing/testing_utils.go
Labels: host, maintenance, os-resource, telemetry

Updated post merge commit yml files with updated commit tag for 2026.0.8 version
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-scorecard.yml
  .github/workflows/post-merge-telemetry.yml
Labels: CI ðŸ¤–

Update VERSION files to 0.21.1-dev for os-resource
  os-resource/VERSION
Labels: os-resource

Update VERSION files to 1.25.1-dev for telemetry
  telemetry/VERSION
Labels: telemetry

Update VERSION files to 1.25.1-dev for maintenance
  maintenance/VERSION
Labels: maintenance

Update VERSION files to 1.21.1-dev for networking
  networking/VERSION
Labels: networking

Update VERSION files to 0.9.1-dev for attestationstatus
  attestationstatus/VERSION
Labels: attestationstatus

Update VERSION files to 1.25.1-dev for host
  host/VERSION
Labels: host

Add DeviceInfo to SystemInfo API for host reporting
  host/docs/api/hostmgr.md
  host/go.mod
  host/go.sum
  host/pkg/api/hostmgr/proto/hostmgr_southbound.pb.go
  host/pkg/api/hostmgr/proto/hostmgr_southbound.pb.validate.go
  host/pkg/api/hostmgr/proto/hostmgr_southbound.proto
  host/pkg/hostmgr/grpc_server.go
  host/pkg/hostmgr/grpc_server_device_test.go
  host/pkg/hostmgr/hostmgr_utils_test.go
  host/pkg/hostmgr/southbound_handler.go
  host/pkg/invclient/common.go
  host/pkg/invclient/invclient.go
  host/pkg/invclient/invclient_test.go
  host/pkg/utils/utils.go
Labels: host

Update host manager version
  host/VERSION
Labels: host

Linter fix
  host/pkg/invclient/invclient_test.go
Labels: host

Fix unit test
  host/pkg/hostmgr/grpc_server_device_test.go
Labels: host

Additional linter fixes
  host/pkg/hostmgr/grpc_server_device_test.go
  host/pkg/hostmgr/southbound_handler.go
  host/pkg/invclient/common.go
  host/pkg/invclient/invclient.go
Labels: host

Remove unneeded comments
  host/pkg/hostmgr/southbound_handler.go
  host/pkg/invclient/invclient.go
Labels: host

Add additional debug log
  host/pkg/hostmgr/grpc_server_device_test.go
  host/pkg/hostmgr/southbound_handler.go
Labels: host

Fix update check
  host/pkg/hostmgr/southbound_handler.go
Labels: host

Disable instance manipulation from HM when provisioned disabled
  host/cmd/hostmgr/main.go
  host/pkg/config/config.go
  host/pkg/hostmgr/grpc_server.go
  host/pkg/hostmgr/hostmgr.go
Labels: host

Set DisabledProvisioning to 'true' for testing
  host/pkg/hostmgr/hostmgr.go
Labels: host

Version fix
  host/VERSION
Labels: host

Update VERSION
  host/VERSION
Labels: host

.github/labeler.yml:

# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

CI ðŸ¤–:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"

host:
  - changed-files:
    - any-glob-to-any-file: "host/**"

maintenance:
  - changed-files:
    - any-glob-to-any-file: "maintenance/**"

networking:
  - changed-files:
    - any-glob-to-any-file: "networking/**"

os-resource:
  - changed-files:
    - any-glob-to-any-file: "os-resource/**"

telemetry:
  - changed-files:
    - any-glob-to-any-file: "telemetry/**"

attestationstatus:
  - changed-files:
    - any-glob-to-any-file: "attestationstatus/**"
