Repository open-edge-platform/infra-managers, changes with the labels that .github/labeler.yml gives for each.
All labels: CI ðŸ¤–, root, host, maintenance, networking, os-resource, telemetry, attestationstatus

Update VERSION files to next dev version for os-resource
  os-resource/VERSION
Labels: os-resource

Fixing linter issues for yml files
  .github/workflows/auto-close.yml
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-telemetry.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Fixing linter issues for yml files (#207)
  .github/workflows/auto-close.yml
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-telemetry.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update grpc_server.go
  maintenance/pkg/maintmgr/grpc_server.go
Labels: maintenance

Fixes for UT testing
  os-resource/internal/controller/controller_test.go
  os-resource/internal/controller/reconcilers/tenant.go
  os-resource/internal/controller/reconcilers/tenant_test.go
  os-resource/internal/invclient/invclient.go
Labels: os-resource

incorporated comments
  maintenance/pkg/maintmgr/grpc_server.go
Labels: maintenance

Update grpc_server.go
  maintenance/pkg/maintmgr/grpc_server.go
Labels: maintenance

Update maintenance/pkg/maintmgr/grpc_server.go
  maintenance/pkg/maintmgr/grpc_server.go
Labels: maintenance

Revert "[gha] Bump open-edge-platform/orch-ci from 0.1.55 to 0.1.56 (#213)"
  .github/workflows/auto-update.yml
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-telemetry.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Reverted #213 and pinned to go version 1.24.6
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-telemetry.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Revert #213 and Pin CI to go 1.24.6 (#216)
  .github/workflows/auto-update.yml
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-telemetry.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

ignore trivy for go 1.26.6
  maintenance/.trivyignore
  networking/.trivyignore
  os-resource/.trivyignore
  telemetry/.trivyignore
Labels: maintenance, networking, os-resource, telemetry

updated version
  maintenance/VERSION
  networking/VERSION
  os-resource/VERSION
  telemetry/VERSION
Labels: maintenance, networking, os-resource, telemetry

trivy ignore
  maintenance/.trivyignore
  networking/.trivyignore
  os-resource/.trivyignore
  telemetry/.trivyignore
Labels: maintenance, networking, os-resource, telemetry

trivy ignore
  host/.trivyignore
Labels: host

added trivy config
  .github/workflows/pre-merge.yml
  maintenance/trivy.yaml
Labels: CI ðŸ¤–, maintenance

trivy ignore
  host/trivy.yaml
  networking/trivy.yaml
  os-resource/trivy.yaml
  telemetry/trivy.yaml
Labels: host, networking, os-resource, telemetry

trivy ignore
  host/trivy.yaml
  networking/trivy.yaml
  os-resource/trivy.yaml
  telemetry/trivy.yaml
Labels: host, networking, os-resource, telemetry

Allow kernel command update in case of immutable os (#209)
  .github/workflows/pre-merge.yml
  host/.trivyignore
  host/trivy.yaml
  maintenance/.trivyignore
  maintenance/VERSION
  maintenance/pkg/maintmgr/grpc_server.go
  maintenance/trivy.yaml
  networking/.trivyignore
  networking/VERSION
  networking/trivy.yaml
  os-resource/.trivyignore
  os-resource/VERSION
  os-resource/trivy.yaml
  telemetry/.trivyignore
  telemetry/VERSION
  telemetry/trivy.yaml
Labels: CI ðŸ¤–, host, maintenance, networking, os-resource, telemetry

Update VERSION files to next dev version for maintenance
  maintenance/VERSION
Labels: maintenance

Update VERSION files to next dev version for telemetry
  telemetry/VERSION
Labels: telemetry

Update VERSION files to next dev version for networking
  networking/VERSION
Labels: networking

Version bump to -dev for maintenance (#217)
  maintenance/VERSION
Labels: maintenance

Version bump to -dev for telemetry (#218)
  telemetry/VERSION
Labels: telemetry

Version bump to -dev for networking (#219)
  networking/VERSION
Labels: networking

Remove use of deprecated Instance fields - desiredOS and updateStatusDetail
  maintenance/go.mod
  maintenance/go.sum
  maintenance/pkg/invclient/invclient.go
  maintenance/pkg/invclient/invclient_test.go
  maintenance/pkg/maintmgr/southbound_handler.go
  maintenance/pkg/utils/utils.go
Labels: maintenance

Add TLS CA Certificate in OS Resource (#199)
  os-resource/VERSION
  os-resource/go.mod
  os-resource/go.sum
  os-resource/internal/controller/reconcilers/tenant_test.go
  os-resource/internal/fsclient/fsclient.go
  os-resource/internal/util/util.go
  os-resource/internal/util/util_test.go
Labels: os-resource

Update VERSION files to next dev version for os-resource
  os-resource/VERSION
Labels: os-resource

Update VERSION files to next dev version for os-resource
  os-resource/VERSION
Labels: os-resource

Version fix
  maintenance/VERSION
  maintenance/go.mod
  maintenance/go.sum
Labels: maintenance

Version bump to -dev for os-resource (#225)
  os-resource/VERSION
Labels: os-resource

Update inventory version
  maintenance/go.mod
  maintenance/go.sum
Labels: maintenance

Remove use of deprecated Instance fields - desiredOS and updateStatus… (#220)
  maintenance/VERSION
  maintenance/go.mod
  maintenance/go.sum
  maintenance/pkg/invclient/invclient.go
  maintenance/pkg/invclient/invclient_test.go
  maintenance/pkg/maintmgr/southbound_handler.go
  maintenance/pkg/utils/utils.go
Labels: maintenance

Update VERSION files to next dev version for maintenance
  maintenance/VERSION
Labels: maintenance

Added new craeteCtx and UpdateCtx for Creating and Updating OS Resource in OSRM with timeout as 1 minute
  os-resource/internal/controller/reconcilers/tenant.go
  os-resource/internal/fsclient/fsclient.go
Labels: os-resource

Version bump to -dev for maintenance (#227)
  maintenance/VERSION
Labels: maintenance

modifed tenant_test test cases for testing to pass
  os-resource/internal/controller/reconcilers/tenant_test.go
Labels: os-resource

Adding CODEOWNERS
  .github/CODEOWNERS
Labels: CI ðŸ¤–

Fixed lint errors
  os-resource/internal/controller/reconcilers/tenant.go
  os-resource/internal/controller/reconcilers/tenant_test.go
  os-resource/internal/fsclient/fsclient.go
Labels: os-resource

Made changes as per review comments
  os-resource/internal/controller/controller_test.go
  os-resource/internal/controller/reconcilers/tenant_test.go
Labels: os-resource

.github/labeler.yml:

# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

CI ðŸ¤–:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"

host:
  - changed-files:
    - any-glob-to-any-file: "host/**"

maintenance:
  - changed-files:
    - any-glob-to-any-file: "maintenance/**"

networking:
  - changed-files:
    - any-glob-to-any-file: "networking/**"

os-resource:
  - changed-files:
    - any-glob-to-any-file: "os-resource/**"

telemetry:
  - changed-files:
    - any-glob-to-any-file: "telemetry/**"

attestationstatus:
  - changed-files:
    - any-glob-to-any-file: "attestationstatus/**"
