Repository open-edge-platform/infra-managers, changes with the labels that .github/labeler.yml gives for each.
All labels: CI ðŸ¤–, root, host, maintenance, networking, os-resource, telemetry, attestationstatus

Update the host manager southbound interface with ClusterInfo data (#559)
  host/VERSION
  host/docs/api/hostmgr.md
  host/pkg/api/hostmgr/proto/hostmgr_southbound.pb.go
  host/pkg/api/hostmgr/proto/hostmgr_southbound.pb.validate.go
  host/pkg/api/hostmgr/proto/hostmgr_southbound.proto
  host/pkg/utils/utils.go
  host/pkg/utils/utils_test.go
Labels: host

Update VERSION files to 1.26.1-dev for host
  host/VERSION
Labels: host

Bump golang version from 1.26.1 to 1.26.3
  attestationstatus/Dockerfile
  attestationstatus/VERSION
  attestationstatus/go.mod
  host/Dockerfile
  host/VERSION
  host/go.mod
  maintenance/Dockerfile
  maintenance/VERSION
  maintenance/go.mod
  networking/Dockerfile
  networking/VERSION
  networking/go.mod
  os-resource/Dockerfile
  os-resource/VERSION
  telemetry/Dockerfile
  telemetry/VERSION
  version.mk
Labels: root, host, maintenance, networking, os-resource, telemetry, attestationstatus

Bump golang version in Dockerfiles
  attestationstatus/Dockerfile
  host/Dockerfile
  maintenance/Dockerfile
  networking/Dockerfile
  os-resource/Dockerfile
  telemetry/Dockerfile
Labels: host, maintenance, networking, os-resource, telemetry, attestationstatus

Bump golang version from 1.26.1 to 1.26.3 (#627)
  attestationstatus/Dockerfile
  attestationstatus/VERSION
  attestationstatus/go.mod
  host/Dockerfile
  host/VERSION
  host/go.mod
  maintenance/Dockerfile
  maintenance/VERSION
  maintenance/go.mod
  networking/Dockerfile
  networking/VERSION
  networking/go.mod
  os-resource/Dockerfile
  os-resource/VERSION
  telemetry/Dockerfile
  telemetry/VERSION
  version.mk
Labels: root, host, maintenance, networking, os-resource, telemetry, attestationstatus

Update VERSION files to 0.10.1-dev for attestationstatus
  attestationstatus/VERSION
Labels: attestationstatus

Update VERSION files to 1.26.2-dev for host
  host/VERSION
Labels: host

Update VERSION files to 0.22.1-dev for os-resource
  os-resource/VERSION
Labels: os-resource

Update VERSION files to 1.22.1-dev for networking
  networking/VERSION
Labels: networking

Update VERSION files to 1.26.1-dev for maintenance
  maintenance/VERSION
Labels: maintenance

Update VERSION files to 1.26.1-dev for telemetry
  telemetry/VERSION
Labels: telemetry

Version bump to 1.22.1-dev for networking (#630)
  networking/VERSION
Labels: networking

Version bump to 0.22.1-dev for os-resource (#631)
  os-resource/VERSION
Labels: os-resource

Version bump to 0.10.1-dev for attestationstatus (#629)
  attestationstatus/VERSION
Labels: attestationstatus

Version bump to 1.26.1-dev for maintenance (#632)
  maintenance/VERSION
Labels: maintenance

Version bump to 1.26.1-dev for telemetry (#633)
  telemetry/VERSION
Labels: telemetry

Version bump to 1.26.2-dev for host (#628)
  host/VERSION
Labels: host

fixed metrics compilation error
  host/cmd/hostmgr/main.go
  host/pkg/hostmgr/hostmgr.go
Labels: host

Update VERSION
  host/VERSION
Labels: host

Update VERSION files to 1.26.3-dev for host
  host/VERSION
Labels: host

Bump versions and orch-ci sha
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-scorecard.yml
  .github/workflows/post-merge-telemetry.yml
  attestationstatus/VERSION
  host/VERSION
  maintenance/VERSION
  networking/VERSION
  os-resource/VERSION
  telemetry/VERSION
Labels: CI ðŸ¤–, host, maintenance, networking, os-resource, telemetry, attestationstatus

Bump versions and orch-ci sha (#639)
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-scorecard.yml
  .github/workflows/post-merge-telemetry.yml
  attestationstatus/VERSION
  host/VERSION
  maintenance/VERSION
  networking/VERSION
  os-resource/VERSION
  telemetry/VERSION
Labels: CI ðŸ¤–, host, maintenance, networking, os-resource, telemetry, attestationstatus

Update VERSION files to 0.10.2-dev for attestationstatus
  attestationstatus/VERSION
Labels: attestationstatus

Update VERSION files to 1.26.4-dev for host
  host/VERSION
Labels: host

Update VERSION files to 1.22.2-dev for networking
  networking/VERSION
Labels: networking

Update VERSION files to 0.22.2-dev for os-resource
  os-resource/VERSION
Labels: os-resource

Update VERSION files to 1.26.2-dev for maintenance
  maintenance/VERSION
Labels: maintenance

Update VERSION files to 1.26.2-dev for telemetry
  telemetry/VERSION
Labels: telemetry

Fixing cooldown issue in code scanning
  .github/dependabot.yml
Labels: CI ðŸ¤–

Fixing cooldown issue in code scanning (#646)
  .github/dependabot.yml
Labels: CI ðŸ¤–

Version bump to 1.26.2-dev for telemetry (#644)
  telemetry/VERSION
Labels: telemetry

Version bump to 0.22.2-dev for os-resource (#643)
  os-resource/VERSION
Labels: os-resource

Version bump to 1.22.2-dev for networking (#642)
  networking/VERSION
Labels: networking

Version bump to 0.10.2-dev for attestationstatus (#641)
  attestationstatus/VERSION
Labels: attestationstatus

Version bump to 1.26.4-dev for host (#640)
  host/VERSION
Labels: host

Bump golang in os-resource and telemetry to 1.26.3 and update docker images sha
  attestationstatus/Dockerfile
  attestationstatus/VERSION
  host/Dockerfile
  host/VERSION
  maintenance/Dockerfile
  maintenance/VERSION
  networking/Dockerfile
  networking/VERSION
  os-resource/Dockerfile
  os-resource/VERSION
  os-resource/go.mod
  telemetry/Dockerfile
  telemetry/VERSION
  telemetry/go.mod
Labels: host, maintenance, networking, os-resource, telemetry, attestationstatus

Fix CVES in infra-manager
  attestationstatus/go.mod
  attestationstatus/go.sum
  host/go.mod
  host/go.sum
  maintenance/go.mod
  maintenance/go.sum
  networking/go.mod
  networking/go.sum
  os-resource/go.mod
  os-resource/go.sum
  telemetry/go.mod
  telemetry/go.sum
Labels: host, maintenance, networking, os-resource, telemetry, attestationstatus

Bump 3rd party dependencies
  attestationstatus/go.mod
  attestationstatus/go.sum
  maintenance/go.mod
  maintenance/go.sum
  networking/go.mod
  networking/go.sum
  os-resource/go.mod
  os-resource/go.sum
  telemetry/go.mod
  telemetry/go.sum
Labels: maintenance, networking, os-resource, telemetry, attestationstatus

Revert inventory changes
  attestationstatus/go.mod
  attestationstatus/go.sum
  maintenance/go.mod
  maintenance/go.sum
  networking/go.mod
  networking/go.sum
  os-resource/go.mod
  os-resource/go.sum
  telemetry/go.mod
  telemetry/go.sum
Labels: maintenance, networking, os-resource, telemetry, attestationstatus

Bump golang in os-resource and telemetry to 1.26.3 and update docker images sha (#650)
  attestationstatus/Dockerfile
  attestationstatus/VERSION
  attestationstatus/go.mod
  attestationstatus/go.sum
  host/Dockerfile
  host/VERSION
  host/go.mod
  host/go.sum
  maintenance/Dockerfile
  maintenance/VERSION
  maintenance/go.mod
  maintenance/go.sum
  networking/Dockerfile
  networking/VERSION
  networking/go.mod
  networking/go.sum
  os-resource/Dockerfile
  os-resource/VERSION
  os-resource/go.mod
  os-resource/go.sum
  telemetry/Dockerfile
  telemetry/VERSION
  telemetry/go.mod
  telemetry/go.sum
Labels: host, maintenance, networking, os-resource, telemetry, attestationstatus

.github/labeler.yml:

# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

CI ðŸ¤–:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"

host:
  - changed-files:
    - any-glob-to-any-file: "host/**"

maintenance:
  - changed-files:
    - any-glob-to-any-file: "maintenance/**"

networking:
  - changed-files:
    - any-glob-to-any-file: "networking/**"

os-resource:
  - changed-files:
    - any-glob-to-any-file: "os-resource/**"

telemetry:
  - changed-files:
    - any-glob-to-any-file: "telemetry/**"

attestationstatus:
  - changed-files:
    - any-glob-to-any-file: "attestationstatus/**"
