Repository open-edge-platform/infra-managers, changes with the labels that .github/labeler.yml gives for each.
All labels: CI ðŸ¤–, root, host, maintenance, networking, os-resource, telemetry, attestationstatus

.github/labeler.yml:

# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

CI ðŸ¤–:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"

host:
  - changed-files:
    - any-glob-to-any-file: "host/**"

maintenance:
  - changed-files:
    - any-glob-to-any-file: "maintenance/**"

networking:
  - changed-files:
    - any-glob-to-any-file: "networking/**"

os-resource:
  - changed-files:
    - any-glob-to-any-file: "os-resource/**"

telemetry:
  - changed-files:
    - any-glob-to-any-file: "telemetry/**"

attestationstatus:
  - changed-files:
    - any-glob-to-any-file: "attestationstatus/**"

Release multiple components
  attestationstatus/VERSION
  attestationstatus/go.mod
  attestationstatus/go.sum
  maintenance/VERSION
  maintenance/go.mod
  maintenance/go.sum
  networking/VERSION
  networking/go.mod
  networking/go.sum
  os-resource/VERSION
  os-resource/go.mod
  os-resource/go.sum
  telemetry/VERSION
  telemetry/go.mod
  telemetry/go.sum
Labels: maintenance, networking, os-resource, telemetry, attestationstatus

Release multiple components (#1)
  attestationstatus/VERSION
  attestationstatus/go.mod
  attestationstatus/go.sum
  maintenance/VERSION
  maintenance/go.mod
  maintenance/go.sum
  networking/VERSION
  networking/go.mod
  networking/go.sum
  os-resource/VERSION
  os-resource/go.mod
  os-resource/go.sum
  telemetry/VERSION
  telemetry/go.mod
  telemetry/go.sum
Labels: maintenance, networking, os-resource, telemetry, attestationstatus

Release Host resource manager v1.21.0
  host/VERSION
  host/go.mod
  host/go.sum
Labels: host

Release Host resource manager v1.21.0 (#2)
  host/VERSION
  host/go.mod
  host/go.sum
Labels: host

Fix OS profile to OS resource conversion
  os-resource/internal/util/util.go
  os-resource/internal/util/util_test.go
Labels: os-resource

fix ver
  os-resource/VERSION
Labels: os-resource

fix lint
  os-resource/internal/util/util.go
  os-resource/internal/util/util_test.go
Labels: os-resource

Fix OS profile to OS resource conversion (#3)
  os-resource/VERSION
  os-resource/internal/util/util.go
  os-resource/internal/util/util_test.go
Labels: os-resource

Release OSRM v0.16.1
  os-resource/VERSION
Labels: os-resource

Release OSRM v0.16.1 (#4)
  os-resource/VERSION
Labels: os-resource

chore: Cleanup CI with unused triggers
  .github/workflows/auto-add-labels.yml
  .github/workflows/auto-close.yml
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-telemetry.yml
  .github/workflows/pre-merge.yml
  .github/workflows/run-mdlint.yml
Labels: CI ðŸ¤–

chore: Update requirements.txt and move to REUSE.toml
  attestationstatus/VERSION
  attestationstatus/requirements.txt
  host/.reuse/dep5
  host/REUSE.toml
  host/VERSION
  host/requirements.txt
  maintenance/.reuse/dep5
  maintenance/REUSE.toml
  maintenance/VERSION
  maintenance/requirements.txt
  networking/.reuse/dep5
  networking/REUSE.toml
  networking/VERSION
  networking/requirements.txt
  os-resource/.reuse/dep5
  os-resource/REUSE.toml
  os-resource/VERSION
  os-resource/requirements.txt
  telemetry/.reuse/dep5
  telemetry/REUSE.toml
  telemetry/VERSION
  telemetry/requirements.txt
Labels: host, maintenance, networking, os-resource, telemetry, attestationstatus

fix: set default port attestmgr to match deployment port
  attestationstatus/.golangci.yml
  attestationstatus/VERSION
  attestationstatus/cmd/main.go
  attestationstatus/pkg/attestmgr/grpc_server_test.go
  attestationstatus/pkg/config/config_test.go
  attestationstatus/pkg/invclient/invclient.go
Labels: attestationstatus

fix: set default port attestmgr to match deployment port (#9)
  attestationstatus/.golangci.yml
  attestationstatus/VERSION
  attestationstatus/cmd/main.go
  attestationstatus/pkg/attestmgr/grpc_server_test.go
  attestationstatus/pkg/config/config_test.go
  attestationstatus/pkg/invclient/invclient.go
Labels: attestationstatus

bump version to -dev
  attestationstatus/VERSION
Labels: attestationstatus

Update Makefile and prepare for buildall
  Makefile
  attestationstatus/Makefile
  attestationstatus/VERSION
  common.mk
  host/Makefile
  host/VERSION
  maintenance/Makefile
  maintenance/VERSION
  networking/Makefile
  networking/VERSION
  os-resource/Makefile
  os-resource/VERSION
  telemetry/Makefile
  telemetry/VERSION
Labels: root, host, maintenance, networking, os-resource, telemetry, attestationstatus

initial commit
  os-resource/internal/fsclient/fsclient.go
  os-resource/internal/util/util.go
  os-resource/internal/util/util_test.go
Labels: os-resource

choir:Further pass to README.md to adhere to template
  README.md
Labels: root

License
  README.md
Labels: root

License label
  README.md
Labels: root

lint
  README.md
Labels: root

move root lint to pre-merge
  .github/workflows/pre-merge.yml
  .github/workflows/run-mdlint.yml
Labels: CI ðŸ¤–

chore: Cleanup CI with unused triggers (#7)
  .github/workflows/auto-add-labels.yml
  .github/workflows/auto-close.yml
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-telemetry.yml
  .github/workflows/pre-merge.yml
  .github/workflows/run-mdlint.yml
Labels: CI ðŸ¤–

fix CI
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

fix typo
  common.mk
Labels: root

deps: Remove onos-lib-go dependency and use orch-library instead
  networking/VERSION
  networking/go.mod
  networking/go.sum
  networking/internal/handlers/northbound.go
  networking/internal/handlers/northbound_test.go
  networking/internal/reconcilers/common.go
  networking/internal/reconcilers/common_test.go
  networking/internal/reconcilers/ip_reconciler.go
  networking/internal/testing/testing.go
  networking/internal/testing/testing_utils.go
Labels: networking

fix linter
  networking/.golangci.yml
  networking/internal/handlers/northbound.go
  networking/internal/handlers/northbound_test.go
  networking/internal/reconcilers/common.go
  networking/internal/reconcilers/common_test.go
  networking/internal/reconcilers/ip_reconciler.go
  networking/internal/testing/testing.go
  networking/internal/testing/testing_utils.go
Labels: networking

Cleanup of golangci config
  os-resource/.golangci.yml
  os-resource/VERSION
  telemetry/.golangci.yml
  telemetry/VERSION
Labels: os-resource, telemetry

deps: Remove onos-lib-go dependency and use orch-library instead (#12)
  networking/.golangci.yml
  networking/VERSION
  networking/go.mod
  networking/go.sum
  networking/internal/handlers/northbound.go
  networking/internal/handlers/northbound_test.go
  networking/internal/reconcilers/common.go
  networking/internal/reconcilers/common_test.go
  networking/internal/reconcilers/ip_reconciler.go
  networking/internal/testing/testing.go
  networking/internal/testing/testing_utils.go
  os-resource/.golangci.yml
  os-resource/VERSION
  telemetry/.golangci.yml
  telemetry/VERSION
Labels: networking, os-resource, telemetry

Don't update host and instances status until provisioned
  host/VERSION
  host/go.mod
  host/go.sum
  host/pkg/hostmgr/grpc_server.go
  host/pkg/utils/utils.go
  maintenance/VERSION
  maintenance/go.mod
  maintenance/go.sum
  maintenance/pkg/maintmgr/grpc_server.go
  maintenance/pkg/utils/utils.go
Labels: host, maintenance

fix MM tests
  maintenance/pkg/maintmgr/grpc_server_test.go
Labels: maintenance

fix lint
  maintenance/pkg/maintmgr/grpc_server_test.go
Labels: maintenance

fix mask
  maintenance/pkg/maintmgr/grpc_server_test.go
Labels: maintenance

fix
  maintenance/pkg/maintmgr/grpc_server_test.go
Labels: maintenance

fix
  maintenance/pkg/maintmgr/grpc_server.go
  maintenance/pkg/utils/utils.go
Labels: maintenance

fix
  maintenance/go.mod
  maintenance/go.sum
  maintenance/pkg/maintmgr/grpc_server_test.go
Labels: maintenance

up
  maintenance/go.mod
  maintenance/go.sum
Labels: maintenance

up
  host/pkg/hostmgr/grpc_server_gpu_test.go
Labels: host

Skip trivy for 'postgres:16.4' testing-only image
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Fixed links to documentation
  host/README.md
  maintenance/README.md
  networking/README.md
  os-resource/README.md
  telemetry/README.md
Labels: host, maintenance, networking, os-resource, telemetry
