Repository open-edge-platform/infra-managers, changes with the labels that .github/labeler.yml gives for each.
All labels: CI ðŸ¤–, root, host, maintenance, networking, os-resource, telemetry, attestationstatus

Test commit for lint scan
  host/Makefile
Labels: host

Additional lint scan fix
  common.mk
Labels: root

Additional fix
  common.mk
Labels: root

Add missing comma
  common.mk
Labels: root

Additional fix
  common.mk
Labels: root

Test common folder ignore path
  common.mk
Labels: root

Clean up test commit
  host/Makefile
Labels: host

Fix yamllint scan (#457)
  common.mk
Labels: root

Fix lint
  host/docs/Instance_workflow.md
Labels: host

Small update
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Small update
  .github/workflows/post-merge-scorecard.yml
Labels: CI ðŸ¤–

Small update
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-scorecard.yml
  .github/workflows/post-merge-telemetry.yml
Labels: CI ðŸ¤–

Fix lint
  telemetry/docs/telemetry-profile.md
Labels: telemetry

Fix lint
  telemetry/docs/telemetry-profile.md
Labels: telemetry

pull upstream and make lint
  host/pkg/api/hostmgr/proto/hostmgr_southbound.pb.go
  host/pkg/api/hostmgr/proto/hostmgr_southbound.pb.validate.go
  host/pkg/api/hostmgr/proto/hostmgr_southbound.proto
  host/pkg/api/hostmgr/proto/hostmgr_southbound_grpc.pb.go
  host/pkg/errors/errors.go
Labels: host

make buf gen output
  host/pkg/api/hostmgr/proto/hostmgr_southbound.pb.go
  host/pkg/api/hostmgr/proto/hostmgr_southbound.pb.validate.go
  host/pkg/api/hostmgr/proto/hostmgr_southbound_grpc.pb.go
Labels: host

Corrected headers
  host/pkg/errors/errors.go
Labels: host

bios release date format updated to support format MM/DD/YYYY and YYYY-MM-DD (#456)
  host/pkg/api/hostmgr/proto/hostmgr_southbound.pb.go
  host/pkg/api/hostmgr/proto/hostmgr_southbound.pb.validate.go
  host/pkg/api/hostmgr/proto/hostmgr_southbound.proto
Labels: host

Bump host manager version
  host/VERSION
Labels: host

Bump host manager version (#466)
  host/VERSION
Labels: host

Update VERSION files to 1.25.5-dev for host
  host/VERSION
Labels: host

Version bump to 1.25.5-dev for host (#467)
  host/VERSION
Labels: host

Post merge Sha bump
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-scorecard.yml
  .github/workflows/post-merge-telemetry.yml
Labels: CI ðŸ¤–

Post merge Sha bump (#479)
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-scorecard.yml
  .github/workflows/post-merge-telemetry.yml
Labels: CI ðŸ¤–

Fixed Trivy CIS error
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Fixed Trivy CIS error (#480)
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Bump minor version post release
  attestationstatus/VERSION
  host/VERSION
  maintenance/VERSION
  networking/VERSION
  os-resource/VERSION
  telemetry/VERSION
Labels: host, maintenance, networking, os-resource, telemetry, attestationstatus

Fix merge issue
  host/go.mod
Labels: host

Replace DeviceInfo structure name with AmtConfigInfo
  host/docs/api/hostmgr.md
  host/go.mod
  host/go.sum
  host/pkg/api/hostmgr/proto/hostmgr_southbound.pb.go
  host/pkg/api/hostmgr/proto/hostmgr_southbound.pb.validate.go
  host/pkg/api/hostmgr/proto/hostmgr_southbound.proto
  host/pkg/hostmgr/grpc_server.go
  host/pkg/hostmgr/grpc_server_amt_test.go
  host/pkg/hostmgr/grpc_server_test.go
  host/pkg/hostmgr/hostmgr_utils_test.go
  host/pkg/hostmgr/southbound_handler.go
  host/pkg/invclient/common.go
  host/pkg/invclient/invclient.go
  host/pkg/invclient/invclient_test.go
  host/pkg/utils/utils.go
Labels: host

Re-introduce orch-ci-repo-ref
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Bump minor version post release (#493)
  .github/workflows/pre-merge.yml
  attestationstatus/VERSION
  host/VERSION
  maintenance/VERSION
  networking/VERSION
  os-resource/VERSION
  telemetry/VERSION
Labels: CI ðŸ¤–, host, maintenance, networking, os-resource, telemetry, attestationstatus

Small fix
  .github/workflows/post-merge-scorecard.yml
Labels: CI ðŸ¤–

Small fix
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-telemetry.yml
Labels: CI ðŸ¤–

Small fix
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Update SystemInfo schema
  host/common.mk
  host/docs/api/hostmgr.md
  host/pkg/api/hostmgr/proto/hostmgr_southbound.pb.go
  host/pkg/api/hostmgr/proto/hostmgr_southbound.pb.validate.go
  host/pkg/api/hostmgr/proto/hostmgr_southbound.proto
  host/version.mk
  maintenance/common.mk
  maintenance/version.mk
Labels: host, maintenance

Small fix
  .github/workflows/post-merge-scorecard.yml
Labels: CI ðŸ¤–

Small fix
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-telemetry.yml
Labels: CI ðŸ¤–

Small fix
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Add ClusterInfo to metadata
  host/pkg/utils/utils.go
  host/pkg/utils/utils_test.go
Labels: host

Fix telemetry tests
  telemetry/internal/invclient/telemetrycache_test.go
Labels: telemetry

.github/labeler.yml:

# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

CI ðŸ¤–:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"

host:
  - changed-files:
    - any-glob-to-any-file: "host/**"

maintenance:
  - changed-files:
    - any-glob-to-any-file: "maintenance/**"

networking:
  - changed-files:
    - any-glob-to-any-file: "networking/**"

os-resource:
  - changed-files:
    - any-glob-to-any-file: "os-resource/**"

telemetry:
  - changed-files:
    - any-glob-to-any-file: "telemetry/**"

attestationstatus:
  - changed-files:
    - any-glob-to-any-file: "attestationstatus/**"
