Repository open-edge-platform/infra-managers, changes with the labels that .github/labeler.yml gives for each.
All labels: CI ðŸ¤–, root, host, maintenance, networking, os-resource, telemetry, attestationstatus

Adding CODEOWNERS (#234)
  .github/CODEOWNERS
Labels: CI ðŸ¤–

Enhancements done for download existing and fixed CVEs list for mutable OS (Ubuntu) from Ubuntu Canonical Server (OVAL) (#204)
  os-resource/VERSION
  os-resource/internal/controller/controller_test.go
  os-resource/internal/controller/reconcilers/tenant.go
  os-resource/internal/controller/reconcilers/tenant_test.go
  os-resource/internal/fsclient/fsclient.go
  os-resource/internal/fsclient/fsclient_test.go
  os-resource/internal/invclient/invclient.go
  os-resource/internal/testing/artifactservice_mock.go
Labels: os-resource

Update VERSION files to next dev version for os-resource
  os-resource/VERSION
Labels: os-resource

Version bump to -dev for os-resource (#238)
  os-resource/VERSION
Labels: os-resource

Adding CODEOWNERS in .github
  .github/CODEOWNERS
Labels: CI ðŸ¤–

Adding CODEOWNERS in .github (#241)
  .github/CODEOWNERS
Labels: CI ðŸ¤–

Updated the ctx timeout value for OSRM reconciliation ctx as CVE downloads operation takes larger time
  os-resource/internal/controller/controller.go
  os-resource/internal/controller/reconcilers/tenant.go
Labels: os-resource

Version Updated
  os-resource/VERSION
Labels: os-resource

Updated the ctx timeout value for OSRM reconciliation ctx as CVE downloads operation takes larger time (#242)
  os-resource/VERSION
  os-resource/internal/controller/controller.go
  os-resource/internal/controller/reconcilers/tenant.go
Labels: os-resource

Update VERSION files to next dev version for os-resource
  os-resource/VERSION
Labels: os-resource

Version bump to -dev for os-resource (#243)
  os-resource/VERSION
Labels: os-resource

adding scorecard workflow bump to 0.1.62
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-scorecard.yml
  .github/workflows/post-merge-telemetry.yml
Labels: CI ðŸ¤–

adding scorecard workflow bump to 0.1.62 (#245)
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-scorecard.yml
  .github/workflows/post-merge-telemetry.yml
Labels: CI ðŸ¤–

Update to 1.24.9 in Dockerfiles & version file
  attestationstatus/Dockerfile
  host/Dockerfile
  maintenance/Dockerfile
  networking/Dockerfile
  os-resource/Dockerfile
  telemetry/Dockerfile
  version.mk
Labels: root, host, maintenance, networking, os-resource, telemetry, attestationstatus

Fix ci repo ref pinning in pre-merge
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-telemetry.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Fix UT in telemetry
  telemetry/internal/invclient/invclient_test.go
Labels: telemetry

Release all
  attestationstatus/VERSION
  host/VERSION
  maintenance/VERSION
  networking/VERSION
  os-resource/VERSION
  telemetry/VERSION
Labels: host, maintenance, networking, os-resource, telemetry, attestationstatus

Update VERSION files to next dev version for attestationstatus
  attestationstatus/VERSION
Labels: attestationstatus

Update VERSION files to next dev version for networking
  networking/VERSION
Labels: networking

Update VERSION files to next dev version for telemetry
  telemetry/VERSION
Labels: telemetry

Update VERSION files to next dev version for maintenance
  maintenance/VERSION
Labels: maintenance

Update VERSION files to next dev version for host
  host/VERSION
Labels: host

Update VERSION files to next dev version for os-resource
  os-resource/VERSION
Labels: os-resource

Version bump to -dev for maintenance (#250)
  maintenance/VERSION
Labels: maintenance

Update VERSION attestationstatus
  attestationstatus/VERSION
Labels: attestationstatus

Update VERSION host
  host/VERSION
Labels: host

Update VERSION networking
  networking/VERSION
Labels: networking

Update VERSION telemetry
  telemetry/VERSION
Labels: telemetry

Version bump to -dev for all components (#252)
  attestationstatus/VERSION
  host/VERSION
  networking/VERSION
  os-resource/VERSION
  telemetry/VERSION
Labels: host, networking, os-resource, telemetry, attestationstatus

Bump inventory version to 2.33.2
  maintenance/Dockerfile
  maintenance/VERSION
  maintenance/go.mod
  maintenance/go.sum
  maintenance/pkg/maintmgr/southbound_handler.go
Labels: maintenance

Bump version
  maintenance/VERSION
Labels: maintenance

Bump inventory version and fix os update run name (#254)
  maintenance/Dockerfile
  maintenance/VERSION
  maintenance/go.mod
  maintenance/go.sum
  maintenance/pkg/maintmgr/southbound_handler.go
Labels: maintenance

Update VERSION files to next dev version for maintenance
  maintenance/VERSION
Labels: maintenance

Version bump to -dev for maintenance (#255)
  maintenance/VERSION
Labels: maintenance

Update VERSION files to next dev version for telemetry
  telemetry/VERSION
Labels: telemetry

Update VERSION files to next dev version for maintenance
  maintenance/VERSION
Labels: maintenance

Host and OSRM version update
  host/VERSION
  os-resource/VERSION
Labels: host, os-resource

Host and OSRM version update (#273)
  host/VERSION
  os-resource/VERSION
Labels: host, os-resource

Update VERSION files to next dev version for host
  host/VERSION
Labels: host

Update VERSION files to next dev version for os-resource
  os-resource/VERSION
Labels: os-resource

.github/labeler.yml:

# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

CI ðŸ¤–:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"

host:
  - changed-files:
    - any-glob-to-any-file: "host/**"

maintenance:
  - changed-files:
    - any-glob-to-any-file: "maintenance/**"

networking:
  - changed-files:
    - any-glob-to-any-file: "networking/**"

os-resource:
  - changed-files:
    - any-glob-to-any-file: "os-resource/**"

telemetry:
  - changed-files:
    - any-glob-to-any-file: "telemetry/**"

attestationstatus:
  - changed-files:
    - any-glob-to-any-file: "attestationstatus/**"
