Repository open-edge-platform/infra-managers, changes with the labels that .github/labeler.yml gives for each.
All labels: CI ðŸ¤–, root, host, maintenance, networking, os-resource, telemetry, attestationstatus

Updating golang version 1.25.7 (#416)
  attestationstatus/Dockerfile
  attestationstatus/VERSION
  attestationstatus/go.mod
  attestationstatus/go.sum
  host/Dockerfile
  host/VERSION
  host/go.mod
  host/go.sum
  maintenance/Dockerfile
  maintenance/VERSION
  maintenance/go.mod
  maintenance/go.sum
  maintenance/pkg/maintmgr/grpc_server_test.go
  networking/Dockerfile
  networking/VERSION
  networking/go.mod
  networking/go.sum
  os-resource/Dockerfile
  os-resource/VERSION
  os-resource/go.mod
  os-resource/go.sum
  telemetry/Dockerfile
  telemetry/VERSION
  telemetry/go.mod
  telemetry/go.sum
  version.mk
Labels: root, host, maintenance, networking, os-resource, telemetry, attestationstatus

Update VERSION files to 1.21.2-dev for networking
  networking/VERSION
Labels: networking

Update VERSION files to 1.25.2-dev for maintenance
  maintenance/VERSION
Labels: maintenance

Update VERSION files to 1.25.2-dev for telemetry
  telemetry/VERSION
Labels: telemetry

Update VERSION files to 0.9.2-dev for attestationstatus
  attestationstatus/VERSION
Labels: attestationstatus

Update VERSION files to 0.21.2-dev for os-resource
  os-resource/VERSION
Labels: os-resource

Update VERSION files to 1.25.3-dev for host
  host/VERSION
Labels: host

Update host manager version
  host/VERSION
Labels: host

Fix merge
  host/go.mod
Labels: host

Update go.mod
  maintenance/go.mod
Labels: maintenance

Version bump to 1.21.2-dev for networking (#417)
  networking/VERSION
Labels: networking

Version bump to 1.25.2-dev for maintenance (#418)
  maintenance/VERSION
Labels: maintenance

Version bump to 0.9.2-dev for attestationstatus (#421)
  attestationstatus/VERSION
Labels: attestationstatus

Version bump to 0.21.2-dev for os-resource (#420)
  os-resource/VERSION
Labels: os-resource

Version bump to 1.25.3-dev for host (#422)
  host/VERSION
Labels: host

Version bump to 1.25.2-dev for telemetry (#419)
  telemetry/VERSION
Labels: telemetry

Dependency update
  attestationstatus/go.mod
  attestationstatus/go.sum
  host/go.mod
  host/go.sum
  maintenance/go.mod
  maintenance/go.sum
  networking/go.mod
  networking/go.sum
  os-resource/go.mod
  os-resource/go.sum
  telemetry/go.mod
  telemetry/go.sum
Labels: host, maintenance, networking, os-resource, telemetry, attestationstatus

Version bump
  attestationstatus/VERSION
  host/VERSION
  maintenance/VERSION
  networking/VERSION
  os-resource/VERSION
  telemetry/VERSION
Labels: host, maintenance, networking, os-resource, telemetry, attestationstatus

Fix linter
  os-resource/.golangci.yml
  os-resource/internal/common/flags.go
Labels: os-resource

Update .golangci.yml
  os-resource/.golangci.yml
Labels: os-resource

Dependency update (#428)
  attestationstatus/VERSION
  host/VERSION
  maintenance/VERSION
  networking/VERSION
  os-resource/.golangci.yml
  os-resource/VERSION
  os-resource/internal/common/flags.go
  telemetry/VERSION
Labels: host, maintenance, networking, os-resource, telemetry, attestationstatus

Update VERSION files to 0.21.3-dev for os-resource
  os-resource/VERSION
Labels: os-resource

Update VERSION files to 1.25.3-dev for maintenance
  maintenance/VERSION
Labels: maintenance

Update VERSION files to 1.21.3-dev for networking
  networking/VERSION
Labels: networking

Update VERSION files to 0.9.3-dev for attestationstatus
  attestationstatus/VERSION
Labels: attestationstatus

Update VERSION files to 1.25.3-dev for telemetry
  telemetry/VERSION
Labels: telemetry

Update VERSION files to 1.25.4-dev for host
  host/VERSION
Labels: host

Fix security issues related to go net package
  attestationstatus/go.mod
  attestationstatus/go.sum
  host/go.mod
  host/go.sum
  maintenance/go.mod
  maintenance/go.sum
  networking/go.mod
  networking/go.sum
  os-resource/go.mod
  os-resource/go.sum
  telemetry/go.mod
  telemetry/go.sum
Labels: host, maintenance, networking, os-resource, telemetry, attestationstatus

Version bump to 1.25.4-dev for host (#438)
  host/VERSION
Labels: host

Version bump to 0.21.3-dev for os-resource (#434)
  os-resource/VERSION
Labels: os-resource

Version bump to 1.25.3-dev for maintenance (#436)
  maintenance/VERSION
Labels: maintenance

Version bump to 1.21.3-dev for networking (#435)
  networking/VERSION
Labels: networking

Version bump to 1.25.3-dev for telemetry (#437)
  telemetry/VERSION
Labels: telemetry

Version bump to 0.9.3-dev for attestationstatus (#439)
  attestationstatus/VERSION
Labels: attestationstatus

Fix security issues related to go net package (#444)
  attestationstatus/go.mod
  attestationstatus/go.sum
  host/go.mod
  host/go.sum
  maintenance/go.mod
  maintenance/go.sum
  networking/go.mod
  networking/go.sum
  os-resource/go.mod
  os-resource/go.sum
  telemetry/go.mod
  telemetry/go.sum
Labels: host, maintenance, networking, os-resource, telemetry, attestationstatus

Bios release date fix
  host/pkg/api/hostmgr/proto/hostmgr_southbound.pb.go
  host/pkg/api/hostmgr/proto/hostmgr_southbound.pb.validate.go
  host/pkg/api/hostmgr/proto/hostmgr_southbound.proto
Labels: host

Added actions: read in post-merge, needed by gitleaks job
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-scorecard.yml
  .github/workflows/post-merge-telemetry.yml
Labels: CI ðŸ¤–

Added actions: read in post-merge, needed by gitleaks job
  .github/workflows/post-merge-scorecard.yml
Labels: CI ðŸ¤–

Added actions: read in post-merge, needed by gitleaks job (#452)
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-telemetry.yml
Labels: CI ðŸ¤–

Fix yamllint scan to ignore incorrect paths
  common.mk
Labels: root

.github/labeler.yml:

# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

CI ðŸ¤–:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"

host:
  - changed-files:
    - any-glob-to-any-file: "host/**"

maintenance:
  - changed-files:
    - any-glob-to-any-file: "maintenance/**"

networking:
  - changed-files:
    - any-glob-to-any-file: "networking/**"

os-resource:
  - changed-files:
    - any-glob-to-any-file: "os-resource/**"

telemetry:
  - changed-files:
    - any-glob-to-any-file: "telemetry/**"

attestationstatus:
  - changed-files:
    - any-glob-to-any-file: "attestationstatus/**"
