Repository open-edge-platform/infra-managers, changes with the labels that .github/labeler.yml gives for each.
All labels: CI ðŸ¤–, root, host, maintenance, networking, os-resource, telemetry, attestationstatus

.github/labeler.yml:

# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

CI ðŸ¤–:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"

host:
  - changed-files:
    - any-glob-to-any-file: "host/**"

maintenance:
  - changed-files:
    - any-glob-to-any-file: "maintenance/**"

networking:
  - changed-files:
    - any-glob-to-any-file: "networking/**"

os-resource:
  - changed-files:
    - any-glob-to-any-file: "os-resource/**"

telemetry:
  - changed-files:
    - any-glob-to-any-file: "telemetry/**"

attestationstatus:
  - changed-files:
    - any-glob-to-any-file: "attestationstatus/**"

chore: Use common PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: CI ðŸ¤–

chore: add CODEOWNERS
  .github/CODEOWNERS
Labels: CI ðŸ¤–

Remove CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: CI ðŸ¤–

Codeowners (#39)
  .github/CODEOWNERS
  .github/CONTRIBUTING.md
Labels: CI ðŸ¤–

chore: Use common PR template (#38)
  .github/PULL_REQUEST_TEMPLATE.md
Labels: CI ðŸ¤–

fix: Do proper comparison with information coming from the EN
  host/pkg/hostmgr/southbound_handler.go
Labels: host

bump version
  host/VERSION
Labels: host

fix: ensure pre-merge is passed before setting PR green
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

fix: ensure pre-merge is passed before setting PR green (#41)
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

chore: Remove ECR create repository from Makefile
  common.mk
Labels: root

chore: Remove ECR create repository from Makefile (#42)
  common.mk
Labels: root

chore: Remove useless GOPRIVATE and Token
  .github/dependabot.yml
  common.mk
Labels: CI ðŸ¤–, root

fix dependabot
  .github/dependabot.yml
Labels: CI ðŸ¤–

feat: Add contributors file
  CONTRIBUTORS.md
Labels: root

fix ci
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-telemetry.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

chore: Remove useless GOPRIVATE, Token and fix CI (#43)
  .github/dependabot.yml
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-telemetry.yml
  .github/workflows/pre-merge.yml
  common.mk
Labels: CI ðŸ¤–, root

feat: Add contributors file (#44)
  CONTRIBUTORS.md
Labels: root

feat: Parameter to configure cache offset
  telemetry/cmd/telemetrymgr/main.go
  telemetry/go.mod
  telemetry/go.sum
  telemetry/internal/invclient/invclient.go
Labels: telemetry

chore: Add LICENSE file to the root
  LICENSE
Labels: root

chore: Add LICENSE file to the root (#47)
  LICENSE
Labels: root

change hrm too
  host/cmd/hostmgr/main.go
  host/go.mod
  host/go.sum
  host/pkg/config/config.go
  host/pkg/hostmgr/hostmgr.go
Labels: host

chore: Bump minor dev version
  attestationstatus/VERSION
  host/VERSION
  maintenance/VERSION
  networking/VERSION
  os-resource/VERSION
  telemetry/VERSION
Labels: host, maintenance, networking, os-resource, telemetry, attestationstatus

chore: Bump minor dev version (#48)
  attestationstatus/VERSION
  host/VERSION
  maintenance/VERSION
  networking/VERSION
  os-resource/VERSION
  telemetry/VERSION
Labels: host, maintenance, networking, os-resource, telemetry, attestationstatus

fixing README TODOs (#36)
  README.md
  telemetry/README.md
Labels: root, telemetry

Add checks for breaking changes in APIs
  common.mk
Labels: root

Clean changes used for testing
  common.mk
Labels: root

Fix
  common.mk
Labels: root

Fix
  common.mk
Labels: root

use params from inventory
  host/cmd/hostmgr/main.go
  host/go.mod
  host/go.sum
  maintenance/cmd/maintmgr/main.go
  maintenance/go.mod
  maintenance/go.sum
  maintenance/pkg/maintmgr/maintmgr.go
  maintenance/pkg/maintmgr/maintmgr_test.go
  telemetry/cmd/telemetrymgr/main.go
  telemetry/go.mod
  telemetry/go.sum
Labels: host, maintenance, telemetry

Fix to run buf breaking per subproject
  attestationstatus/Makefile
  common.mk
  host/Makefile
  maintenance/Makefile
  telemetry/Makefile
Labels: root, host, maintenance, telemetry, attestationstatus

Test
  maintenance/pkg/api/maintmgr/v1/maintmgr.proto
Labels: maintenance

Test
  maintenance/Makefile
Labels: maintenance

Fix and clean
  attestationstatus/Makefile
  common.mk
  host/Makefile
  host/pkg/api/buf.yaml
  maintenance/pkg/api/buf.yaml
  maintenance/pkg/api/maintmgr/v1/maintmgr.proto
  telemetry/Makefile
Labels: root, host, maintenance, telemetry, attestationstatus

Fix
  telemetry/Makefile
Labels: telemetry

License and OpenSSF
  README.md
Labels: root

chore: License and OpenSSF (#51)
  README.md
Labels: root

Fixing permissions to increment the openSSF scorecard
  .github/workflows/auto-add-labels.yml
  .github/workflows/auto-close.yml
  .github/workflows/auto-update.yml
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-telemetry.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Improve implementation making it generic and future proof
  host/pkg/hostmgr/southbound_handler.go
  host/pkg/invclient/invclient.go
  host/pkg/utils/utils.go
  host/pkg/utils/utils_test.go
Labels: host

fix
  host/go.mod
  host/go.sum
Labels: host

fix flags
  host/cmd/hostmgr/main.go
  maintenance/cmd/maintmgr/main.go
  telemetry/cmd/telemetrymgr/main.go
Labels: host, maintenance, telemetry
