Repository open-edge-platform/infra-managers, changes with the labels that .github/labeler.yml gives for each.
All labels: CI ðŸ¤–, root, host, maintenance, networking, os-resource, telemetry, attestationstatus

.github/labeler.yml:

# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

CI ðŸ¤–:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"

host:
  - changed-files:
    - any-glob-to-any-file: "host/**"

maintenance:
  - changed-files:
    - any-glob-to-any-file: "maintenance/**"

networking:
  - changed-files:
    - any-glob-to-any-file: "networking/**"

os-resource:
  - changed-files:
    - any-glob-to-any-file: "os-resource/**"

telemetry:
  - changed-files:
    - any-glob-to-any-file: "telemetry/**"

attestationstatus:
  - changed-files:
    - any-glob-to-any-file: "attestationstatus/**"

Fixes
  host/README.md
  maintenance/README.md
  networking/README.md
  os-resource/README.md
Labels: host, maintenance, networking, os-resource

Update Makefile and prepare for buildall (#10)
  .github/workflows/pre-merge.yml
  Makefile
  attestationstatus/Makefile
  attestationstatus/VERSION
  common.mk
  host/Makefile
  host/VERSION
  maintenance/Makefile
  maintenance/VERSION
  networking/Makefile
  networking/VERSION
  os-resource/Makefile
  telemetry/Makefile
Labels: CI ðŸ¤–, root, host, maintenance, networking, os-resource, telemetry, attestationstatus

Fixes to host
  host/README.md
Labels: host

Fix MM
  maintenance/README.md
Labels: maintenance

Fixes
  host/README.md
  maintenance/README.md
  networking/README.md
  os-resource/README.md
  telemetry/README.md
Labels: host, maintenance, networking, os-resource, telemetry

Fix ecr repo creation
  common.mk
Labels: root

Fix ecr repo creation (#24)
  common.mk
Labels: root

fix
  host/go.mod
  host/go.sum
  maintenance/go.mod
  maintenance/go.sum
  maintenance/pkg/maintmgr/grpc_server_test.go
Labels: host, maintenance

add repo-token in labeler
  .github/workflows/auto-add-labels.yml
Labels: CI ðŸ¤–

Fixes
  host/README.md
Labels: host

Fixes
  maintenance/README.md
Labels: maintenance

fix version
  host/VERSION
  maintenance/VERSION
Labels: host, maintenance

Fixes
  README.md
Labels: root

fix all tests
  host/go.mod
  host/go.sum
  host/pkg/hostmgr/grpc_server_gpu_test.go
  host/pkg/hostmgr/grpc_server_nic_test.go
  host/pkg/hostmgr/grpc_server_storage_test.go
  host/pkg/hostmgr/grpc_server_test.go
  host/pkg/hostmgr/grpc_server_usb_test.go
  maintenance/pkg/maintmgr/grpc_server_test.go
Labels: host, maintenance

fix lint and tests
  host/pkg/hostmgr/grpc_server_gpu_test.go
  host/pkg/hostmgr/grpc_server_nic_test.go
  host/pkg/hostmgr/grpc_server_storage_test.go
  host/pkg/hostmgr/grpc_server_test.go
  host/pkg/hostmgr/grpc_server_usb_test.go
  maintenance/pkg/maintmgr/grpc_server_test.go
Labels: host, maintenance

chore: Pinpoint actions and update dependabot
  .github/dependabot.yml
  .github/workflows/auto-add-labels.yml
  .github/workflows/auto-close.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Fixed links to documentation (#23)
  README.md
  host/README.md
  maintenance/README.md
  networking/README.md
  os-resource/README.md
  telemetry/README.md
Labels: root, host, maintenance, networking, os-resource, telemetry

fix go dep
  host/go.mod
  host/go.sum
  maintenance/go.mod
  maintenance/go.sum
Labels: host, maintenance

fix: Don't update host and instances status until provisioned (#22)
  host/go.mod
  host/go.sum
  host/pkg/hostmgr/grpc_server.go
  host/pkg/hostmgr/grpc_server_gpu_test.go
  host/pkg/hostmgr/grpc_server_nic_test.go
  host/pkg/hostmgr/grpc_server_storage_test.go
  host/pkg/hostmgr/grpc_server_test.go
  host/pkg/hostmgr/grpc_server_usb_test.go
  host/pkg/utils/utils.go
  maintenance/go.mod
  maintenance/go.sum
  maintenance/pkg/maintmgr/grpc_server.go
  maintenance/pkg/maintmgr/grpc_server_test.go
  maintenance/pkg/utils/utils.go
Labels: host, maintenance

Release multiple components
  attestationstatus/VERSION
  attestationstatus/go.mod
  attestationstatus/go.sum
  maintenance/VERSION
  maintenance/go.mod
  maintenance/go.sum
  networking/VERSION
  networking/go.mod
  networking/go.sum
  os-resource/go.mod
  os-resource/go.sum
  telemetry/VERSION
  telemetry/go.mod
  telemetry/go.sum
Labels: maintenance, networking, os-resource, telemetry, attestationstatus

release osrm
  os-resource/VERSION
Labels: os-resource

chore: Pinpoint actions and update dependabot (#25)
  .github/dependabot.yml
  .github/workflows/auto-add-labels.yml
  .github/workflows/auto-close.yml
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Release multiple components (#26)
  attestationstatus/VERSION
  attestationstatus/go.mod
  attestationstatus/go.sum
  maintenance/VERSION
  networking/VERSION
  networking/go.mod
  networking/go.sum
  os-resource/VERSION
  os-resource/go.mod
  os-resource/go.sum
  telemetry/VERSION
  telemetry/go.mod
  telemetry/go.sum
Labels: maintenance, networking, os-resource, telemetry, attestationstatus

Update VERSION
  os-resource/VERSION
Labels: os-resource

Release Host RM v1.21.1
  host/VERSION
  host/go.mod
  host/go.sum
Labels: host

update OM
  host/go.mod
  host/go.sum
Labels: host

Release Host RM v1.21.1 (#30)
  host/VERSION
  host/go.mod
  host/go.sum
Labels: host

Update README.md with License
  README.md
Labels: root

Update README.md
  README.md
Labels: root

Update README.md
  README.md
Labels: root

correct links
  README.md
Labels: root

chore:Further pass to README.md to adhere to template (#11)
  .github/workflows/pre-merge.yml
  README.md
Labels: CI ðŸ¤–, root

Removing Contributing.md
  CONTRIBUTING.md
Labels: root

Removing Contributing.md (#33)
  CONTRIBUTING.md
Labels: root

README for Attestation Status manager
  attestationstatus/README.md
  attestationstatus/VERSION
Labels: attestationstatus

fix lint issue
  attestationstatus/README.md
  attestationstatus/REUSE.toml
Labels: attestationstatus

UUID commit
  attestationstatus/README.md
Labels: attestationstatus

README for Attestation Status manager (#35)
  attestationstatus/README.md
  attestationstatus/REUSE.toml
  attestationstatus/VERSION
Labels: attestationstatus

fixing README TODOs
  README.md
  telemetry/README.md
Labels: root, telemetry

Version change
  telemetry/VERSION
Labels: telemetry
