Repository open-edge-platform/infra-managers, pull requests merged in 2025-07, with the labels that each got.

#111 chore: Remove tmatenko from CODEOWNERS
  .github/CODEOWNERS
Labels: CI 🤖

#117 Update CODEOWNERS
  .github/CODEOWNERS
Labels: CI 🤖

#119 Added changes for support of popultaing existing_cves and fixed_cves in OS Resource and Instance Resource for immutable OS
  maintenance/pkg/invclient/invclient.go
  maintenance/pkg/invclient/invclient_test.go
  maintenance/pkg/maintmgr/southbound_handler.go
  maintenance/pkg/maintmgr/southbound_handler_test.go
  os-resource/internal/controller/reconcilers/tenant.go
  os-resource/internal/controller/reconcilers/tenant_test.go
  os-resource/internal/fsclient/fsclient.go
  os-resource/internal/fsclient/fsclient_test.go
  os-resource/internal/invclient/invclient.go
  os-resource/internal/invclient/invclient_test.go
  os-resource/internal/util/util_test.go
Labels: maintenance, os-resource

#126 Version bump to -dev for maintenance
  attestationstatus/VERSION
  host/VERSION
  maintenance/VERSION
  networking/VERSION
  os-resource/VERSION
  telemetry/VERSION
Labels: maintenance, networking, os-resource, telemetry, attestationstatus, host

#139 Version bump to -dev for maintenance
  maintenance/VERSION
  os-resource/VERSION
Labels: maintenance, os-resource
