Repository open-edge-platform/infra-managers, pull requests merged in 2025-05, with the labels that each got.

#51 License and OpenSSF
  README.md
Labels: root

#52 Fixing permissions to increment the openSSF scorecard
  .github/workflows/auto-add-labels.yml
  .github/workflows/auto-close.yml
  .github/workflows/auto-update.yml
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-telemetry.yml
  .github/workflows/pre-merge.yml
Labels: CI 🤖

#55 deps: Update OPA dependency
  attestationstatus/go.mod
  attestationstatus/go.sum
  host/go.mod
  host/go.sum
  maintenance/go.mod
  maintenance/go.sum
  networking/go.mod
  networking/go.sum
  os-resource/go.mod
  os-resource/go.sum
  telemetry/go.mod
  telemetry/go.sum
Labels: maintenance, networking, os-resource, telemetry, attestationstatus, host

#49 Add API breaking changes check
  attestationstatus/Makefile
  common.mk
  host/Makefile
  host/pkg/api/buf.yaml
  maintenance/Makefile
  maintenance/pkg/api/buf.yaml
  telemetry/Makefile
  telemetry/api/buf.yaml
Labels: maintenance, telemetry, attestationstatus, host, root

#60 Moving the permissions to be per Job
  .github/workflows/auto-add-labels.yml
  .github/workflows/auto-close.yml
  .github/workflows/auto-update.yml
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-telemetry.yml
  .github/workflows/pre-merge.yml
Labels: CI 🤖

#40 fix: Do proper comparison with information coming from the EN
  .github/workflows/pre-merge.yml
  host/pkg/hostmgr/southbound_handler.go
  host/pkg/invclient/invclient.go
  host/pkg/utils/utils.go
  host/pkg/utils/utils_test.go
Labels: host, CI 🤖, c-3.0.1

#50 feat: allow to configure cache offset via flag
  attestationstatus/go.mod
  attestationstatus/go.sum
  host/cmd/hostmgr/main.go
  host/go.mod
  host/go.sum
  host/pkg/config/config.go
  host/pkg/hostmgr/hostmgr.go
  maintenance/cmd/maintmgr/main.go
  maintenance/go.mod
  maintenance/go.sum
  maintenance/pkg/maintmgr/maintmgr.go
  maintenance/pkg/maintmgr/maintmgr_test.go
  telemetry/cmd/telemetrymgr/main.go
  telemetry/go.mod
  telemetry/go.sum
  telemetry/internal/invclient/invclient.go
Labels: maintenance, networking, os-resource, telemetry, attestationstatus, host, CI 🤖, root

#62 Fixed buf lint errors
  telemetry/Makefile
  telemetry/api/buf.yaml
  telemetry/api/telemetrymgr/v1/telemetrymgr.proto
Labels: telemetry

#29 feat: Populate Description for OSResource coming from OSProfiles in RS
  os-resource/go.mod
  os-resource/go.sum
  os-resource/internal/fsclient/fsclient.go
  os-resource/internal/util/util.go
  os-resource/internal/util/util_test.go
Labels: os-resource

#67 chore: sort zizmor findings
  .github/dependabot.yml
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-telemetry.yml
  .github/workflows/pre-merge.yml
Labels: CI 🤖

#71 chore: move to self hosted auto update
  .github/workflows/auto-update.yml
Labels: CI 🤖

#70 Releases managers with inventory v2.25.0
  attestationstatus/VERSION
  attestationstatus/go.mod
  attestationstatus/go.sum
  host/VERSION
  host/go.mod
  host/go.sum
  maintenance/VERSION
  maintenance/go.mod
  maintenance/go.sum
  networking/VERSION
  networking/go.mod
  networking/go.sum
  os-resource/VERSION
  os-resource/go.mod
  os-resource/go.sum
  telemetry/VERSION
  telemetry/go.mod
  telemetry/go.sum
Labels: maintenance, networking, os-resource, telemetry, attestationstatus, host

#72 Released components with updates cross deps in go.mod of host and maintenance
  host/VERSION
  host/go.mod
  host/go.sum
  maintenance/VERSION
  maintenance/go.mod
  maintenance/go.sum
Labels: maintenance, host
