Repository open-edge-platform/infra-managers, pull requests merged in 2025-04, with the labels that each got.

#41 fix: ensure pre-merge is passed before setting PR green
  .github/workflows/pre-merge.yml
Labels: CI 🤖

#42 chore: Remove ECR create repository from Makefile
  common.mk
Labels: root

#47 chore: Add LICENSE file to the root
  LICENSE
Labels: root

#48 chore: Bump minor dev version
  attestationstatus/VERSION
  host/VERSION
  maintenance/VERSION
  networking/VERSION
  os-resource/VERSION
  telemetry/VERSION
Labels: maintenance, networking, os-resource, telemetry, attestationstatus, host

#36 fixing README TODOs
  README.md
  telemetry/README.md
Labels: telemetry, root
