Repository open-edge-platform/infra-managers, pull requests merged in 2025-06, with the labels that each got.

#81 chore: add secret for teams notification
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-telemetry.yml
Labels: CI 🤖

#83 fix: Don't require default profile if autoProvision is disabled
  .github/workflows/post-merge-host.yml
  os-resource/VERSION
  os-resource/internal/controller/reconcilers/tenant.go
  os-resource/internal/controller/reconcilers/tenant_test.go
Labels: os-resource, CI 🤖

#84 chore: remove renamed flag
  .github/workflows/post-merge-attestationstatus.yml
  .github/workflows/post-merge-host.yml
  .github/workflows/post-merge-maintenance.yml
  .github/workflows/post-merge-networking.yml
  .github/workflows/post-merge-os-resource.yml
  .github/workflows/post-merge-telemetry.yml
Labels: CI 🤖

#87 fix: set host status to "No Connection" even when host is in error state
  host/pkg/invclient/invclient.go
  host/pkg/invclient/invclient_test.go
Labels: host
